@charset "UTF-8";
#fullpage1970 {
  position: absolute;
  height: 700px;
  width: 90vw;
  margin: 0;
  z-index: 1;
}

.section {
  right: 0vw;
  /* transform:scale(2); */
  /* display: inline; */
  /* transform-origin: center right; */
  text-align: right;
  margin: 0;
  display: inline-block;
  z-index: -3;
}

h1 {
  position: absolute;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  text-align: right;
  left: 20%;
  /* top:40%; */
}

.p1 {
  /* position:absolute; */
  margin: 0;
  right: 0vw;
  height: 90vh;
  z-index: 5;
}

.p2 {
  height: 90vh;
  margin: 0;
}

.p3-1 {
  float: right;
  display: none;
  height: 90vh;
}

.p3-2 {
  float: right;
  display: none;
  height: 90vh;
}

#s4-1970 {
  display: block;
  float: right;
  z-index: 3;
}

.p4 {
  position: absolute;
  top: 5vh;
  right: 0;
  float: right;
  display: none;
  height: 90vh;
}

.p4yes {
  position: absolute;
  top: 5vh;
  right: 0;
  float: right;
  display: none;
  height: 90vh;
}

.p4no {
  position: absolute;
  top: 5vh;
  right: 0;
  float: right;
  display: none;
  height: 90vh;
}

#s5-1970 {
  display: none;
  float: right;
  z-index: 3;
}

.p5-1 {
  position: absolute;
  display: none;
  right: 0;
  top: 5vh;
  height: 90vh;
  float: right;
}

.p5-2 {
  position: absolute;
  display: none;
  right: 0;
  top: 5vh;
  height: 90vh;
  float: right;
}

#s6-1970 {
  display: none;
  height: 90vh;
  float: right;
}

.p6 {
  position: absolute;
  top: 5vh;
  right: 0;
  float: right;
  display: none;
  height: 90vh;
}

#s1button {
  position: absolute;
  right: 6vw;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  float: left;
  border: 3px solid red;
  display: block;
}

#s2keep {
  position: absolute;
  right: 34vh;
  top: 72vh;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-bottom: 2px solid #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  display: block;
}

#s2keep:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s2abortion {
  position: absolute;
  display: block;
  right: 17vh;
  top: 78vh;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  border-bottom: 2px solid #2B2E34;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
}

#s2abortion:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s3button-1 {
  position: absolute;
  right: 23vh;
  top: 60vh;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  text-align: left;
  display: none;
}

#s3parent {
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-bottom: 2px solid #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  z-index: 5;
}

#s3parent:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s3hospital {
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-bottom: 2px solid #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  z-index: 5;
}

#s3hospital:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.s3button {
  position: absolute;
  display: none;
  right: 50vh;
  top: 78vh !important;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  float: left;
}

#s3yes {
  position: absolute;
  right: 2vh;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  border-bottom: 2px solid #2B2E34;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
}

#s3yes:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s3no {
  position: absolute;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  border-bottom: 2px solid #2B2E34;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
}

#s3no:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s4button {
  position: absolute;
  right: 23vh;
  top: 60vh;
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  text-align: left;
  display: none;
}

#s4parent {
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-bottom: 2px solid #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  z-index: 5;
}

#s4parent:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s4hospital {
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  border-bottom: 2px solid #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
  z-index: 5;
}

#s4hospital:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.p6ending {
  display: block;
}

.s7-1970 {
  display: block;
}

.dim-bgg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #3a3631;
  z-index: -7;
  display: block;
}

#inthefield {
  position: absolute;
  left: 23vw;
  top: 42vh;
  z-index: -4;
}

.桑葚 {
  position: absolute;
  width: 17vw;
  left: 12vw;
  top: 32vh;
  z-index: -1;
  opacity: 0.1;
}

.abortionphotos {
  display: block;
}

.chair {
  position: absolute;
  width: 20vw;
  left: 20vw;
  top: 20vh;
  z-index: -2;
  opacity: 0.1;
}

.birthathome {
  display: block;
}

.medicinecase {
  position: absolute;
  width: 15vw;
  left: 32vw;
  top: 46vh;
  z-index: -1;
  opacity: 0.1;
}

.doctor {
  position: absolute;
  width: 15vw;
  left: 23.5vw;
  top: 45vh;
  z-index: -2;
  opacity: 0.1;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.iud {
  position: absolute;
  width: 15vw;
  left: 40vw;
  top: 50vh;
  z-index: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.1;
}
/*# sourceMappingURL=1970s.css.map */