.storyyear {
  position: absolute;
  left: 13vw;
  bottom: 5vh;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  kerning: auto;
  color: #D9D9D1;
  z-index: 8;
  /* transform: rotate(90deg); */
}

.storycontent {
  position: absolute;
  height: 90vh;
  right: 5vw;
  top: 5vh;
  /* border:3px solid red; */
  width: 63vh;
  overflow-x: hidden;
  background-color: #D9D9D1;
  /* overflow-y: hidden; */
}

.storypage {
  position: absolute;
  top: -5vh;
  right: -2vw;
  height: 100vh;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.syear {
  position: absolute;
  left: 0vw;
  margin-left: 20px;
  height: 5vh;
  width: 5vw;
  top: 3vh;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 8rem;
  color: #2B2E34;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}

.stext {
  position: absolute;
  top: 26vh;
  left: 17vh;
  width: 35vh;
  min-width: 200px;
  text-align: left;
  z-index: 3;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
}

.squote {
  position: absolute;
  left: 0vw;
  height: 10vh;
  min-width: 20px;
  margin-left: 20px;
  width: 60vh;
  font-size: 2rem;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  /* text-decoration: underline; */
  text-align: left;
  float: left;
  z-index: 4;
  /* border: 3px solid red; */
  /* vh+3vh */
}

.subtext {
  position: absolute;
  /* width:22vw; */
  /* height:40vh; */
  text-align: left;
  /* left:10vw; */
  /* top:26vh; */
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #c5b8b2;
}

.italic {
  font-style: italic;
}

nobr {
  font-family: fz-shu-song-gb18030, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

/* /////////////////////    Transition     /////////////////// */
@-webkit-keyframes menuslide {
  100% {
    left: -80px;
  }
}

@keyframes menuslide {
  100% {
    left: -80px;
  }
}

@-webkit-keyframes slide {
  100% {
    left: -100px;
  }
}

@keyframes slide {
  100% {
    left: -100px;
  }
}

@-webkit-keyframes slide2 {
  100% {
    left: 50px;
    opacity: 1;
  }
}

@keyframes slide2 {
  100% {
    left: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes slideup {
  100% {
    top: 71vh;
    opacity: 1;
  }
}

@keyframes slideup {
  100% {
    top: 71vh;
    opacity: 1;
  }
}

/* /////////////////////    Page     /////////////////// */
/* html{
    /* scroll-behavior: smooth; */
/* margin:0;
    padding:0; */
body {
  /* position:fixed; */
  background-color: #D9D9D1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  /* background-image: url(asset/white-paper-texture-with-flecks.jpg); */
  /* background-repeat:repeat;
    background-size:100%;
    background-blend-mode: multiply; */
  overflow: hidden;
}

/* body::after {
    content: "";
    background: url(asset/white-paper-texture-with-flecks.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: sticky;
    z-index: -4;   
  } */
#mycanvas {
  position: absolute;
  /* position:-webkit-sticky; */
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* left: 50; top: 50%; */
  z-index: 0;
}

.menu-v {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 0vw;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-animation: slide 0.5s forwards;
  animation: menuslide 0.5s forwards;
  /* color:#867472; */
  border: 5px solid rebeccapurple;
  background-color: #D9D9D1;
  /* border:3px solid red; */
  padding: 2vw;
}

@-webkit-keyframes slideright {
  0% {
    left: 20vw;
  }
  100% {
    left: 40vw;
    opacity: 1;
  }
}

@keyframes slideright {
  0% {
    left: 20vw;
  }
  100% {
    left: 40vw;
    opacity: 1;
  }
}

.theonlychild-v {
  display: none;
  position: absolute;
  height: 25px;
  width: 45px;
  top: 10vh;
  left: 0vw;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  background-color: transparent;
  color: #425C6D;
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: slideright 0.5s forwards 0.1s;
  animation: slideright 0.5s forwards 0.1s;
  z-index: 3;
}

.theonlychild-v:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.realityGenerator-v {
  display: none;
  /* transform: rotate(-90deg); */
  position: absolute;
  height: 25px;
  width: 130px;
  left: 0vw;
  top: 15vh;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  /* outline: none; */
  /* border-style: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  color: #425C6D;
  background-color: transparent;
  text-decoration: none;
  -webkit-animation: slideright 0.5s forwards 0.2s;
  animation: slideright 0.5s forwards 0.2s;
}

.realityGenerator-v:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.menudata-v {
  /* transform: rotate(-90deg); */
  display: none;
  position: absolute;
  height: 25px;
  width: 40px;
  left: 0vw;
  top: 20vh;
  z-index: 5;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  kerning: auto;
  outline: none;
  border-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  color: #425C6D;
  background-color: transparent;
  /* display:none; */
  cursor: pointer;
  text-decoration: none;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: slideright 0.5s forwards 0.3s;
  animation: slideright 0.5s forwards 0.3s;
}

.menudata-v:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.menuabout-v {
  /* transform: rotate(-90deg); */
  display: none;
  position: absolute;
  height: 25px;
  width: 50px;
  top: 25vh;
  left: 0vw;
  z-index: 5;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  kerning: auto;
  outline: none;
  border-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  color: #425C6D;
  background-color: transparent;
  /* display:none; */
  cursor: pointer;
  text-decoration: none;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: slideright 0.5s forwards 0.4s;
  animation: slideright 0.5s forwards 0.4s;
}

.menuabout-v:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#close {
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  color: #425C6D;
  left: 3vw;
  top: 3.5vh;
  z-index: 5;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

/* ////////////////////////// */
.frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

#homebg {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  z-index: -2;
  overflow: hidden;
}

#homebg img {
  position: absolute;
  display: block;
  width: auto;
  height: calc(var(--vh, 1vh) * 115);
  left: -110vw;
  top: -100px;
}

#title {
  position: absolute;
  top: 22vh;
  right: 5vw;
  width: 70vw;
  height: 100vh;
  /* border:3px solid red; */
}

/* #htitle{
    position: absolute;
    right:10vw;
    top:5vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    bottom:0;
    font-style: normal;
    font-size: 9rem;
    text-align: right;
    color: white;
    kerning: auto;
    font-kerning: auto;

} */
#title img {
  position: absolute;
  width: 70vw;
  right: 0;
}

#homequote {
  position: absolute;
  left: 5vw;
  width: 95vw;
  bottom: 10vh;
  /* font-size: 10px; */
  height: 20vh;
}

#projectquote {
  position: absolute;
  font-family: kepler-std, serif;
  font-weight: 500;
  bottom: 0;
  font-style: normal;
  font-size: 2rem;
  text-align: left;
  kerning: auto;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  left: 5vw;
  bottom: 10vh;
  width: 90vw;
  color: #425C6D;
}

h {
  position: absolute;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  bottom: 0;
  font-style: normal;
  font-size: 1.1em;
  text-align: left;
  color: #D9D9D1;
}

#topleft {
  position: absolute;
  top: 10vh;
  left: 5vw;
  width: 40vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  bottom: 0;
  font-style: normal;
  font-size: 0.7em;
  text-align: left;
  color: #D9D9D1;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#description {
  position: absolute;
  left: 12vw;
  bottom: 5vh;
  width: 60vw;
}

#description img {
  position: absolute;
  bottom: 0;
  width: 58vw;
}

#fp-nav {
  position: absolute;
  top: 5vh;
}

.home {
  position: absolute;
  display: block;
  top: 5vh;
  left: 5vw;
}

.home button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0px 0px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
/*# sourceMappingURL=index-vertical.css.map */