
@media only screen and (orientation: landscape) {
.storyyear{
    position:absolute;
    left:12vw;
   top:5vh;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    color:#D9D9D1;
    z-index: 8;
    /* transform: rotate(90deg); */
}

.chooseyear{
    display: block;
    width:70px;
    height:20px;
    position: absolute;
    left:0;
    cursor: pointer;
    /* border: 3px solid forestgreen; */
    z-index: 6;

}
.chooseyear:hover{
    
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
.chooseyear:hover>.arrow{
    border-color: #aa3424;
    border-width: 2px;
    transition: color 0.2s ease-in-out;
}
.chooselocation{
    position: absolute;
    left:170px;
    width:70px;
    height:20px;
    cursor: pointer;
    /* border: 3px solid forestgreen; */
}
.chooselocation:hover{
    color:#aa3424;

    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
.chooselocation:hover>.arrow{
    border-color: #aa3424;
    border-width: 2px;
    transition: color 0.2s ease-in-out;
}
.arrow{

    /* display: inline-block; */
    position: absolute;
    left:50px;
    top:0.5vh;
    width: 10px;
    height: 10px;
    background: transparent;
    text-indent: -9999px;
    border-top: 1.5px solid #bfbfbf;
    border-left: 1.5px solid #bfbfbf;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    color: transparent;
    z-index: 8;
}

  .arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
  }
  .arrow.down {
    transform: rotate(-135deg);
    right: 175px;
  }



.wrapY{
    display:block;
    position:absolute;
    /* display: flex; */
    flex-direction: column;
    width:60px;
    height:0vh;
    top:3vh;
    left:-0.8vw;
    /* border: 2px solid cadetblue; */
    background-color:#3a3631 ;
    color: #c5b8b2;
    z-index: 5;
    text-align:center;
    transform-origin: top;
    cursor: pointer;
    overflow: hidden;
    padding: 6px;
    transition: height 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out;

}
.wrapY a{
    /* float: none; */
    display: block;
    position: relative;
    padding:5px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:1rem;
    color: #c5b8b2;
    cursor: pointer;
  
    /* border: 3px solid saddlebrown; */
}
.wrapY a:hover{

    color:#aa3424;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
}

.wrapL{
    position:absolute;
    display:block;
    flex-direction: column;
    width:60px;
    height:0vh;
    top:3vh;
    left:-0.8vw;
    color: #c5b8b2;
    /* border: 2px solid cadetblue; */
    background-color: #3a3631;
    z-index: 6;
    text-align:center;
    transform-origin: top;
    cursor: pointer;
    overflow: hidden;
    padding: 6px;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;

}
.wrapL a{
    /* float:none; */
    display: block;
    position: relative;
    padding:5px;
    /* border: 3px solid saddlebrown; */
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:1rem;
    color: #c5b8b2;
    cursor: pointer;
    /* animation: wrapslide 0.5s forwards 0.1s; */
    transition: height 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out;
}
.wrapL a:hover{
    color:#aa3424;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
}





.storycontent{
    position: absolute;
   height:90vh;
    right: 5vw;
    top:5vh;
     /* border:3px solid red; */
     width:63vh; 
    overflow-x: hidden;
    background-color: #D9D9D1;
    /* overflow-y: hidden; */
}
.storypage{
    position: absolute;
    top:-5vh;
    right:-2vw;
    height:100vh;
    transform: scale(0.9);
}
.syear{
    position: absolute;
    left:0vw;
    margin-left: 20px;
    height:5vh;
    width:5vw;
    top:3vh;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
  
    font-size: 8rem;
    color:#2B2E34;
    text-align: left;
    white-space: nowrap;
    z-index: 3;

}
.stext{
    position: absolute;
    top:26vh;
    left:17vh;
    width:35vh;
    min-width: 200px;
    text-align: left;
    z-index: 3;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;

}
.squote{
    position:absolute;
    left:1vw;
    height: 10vh;
    min-width: 20px;
    margin-left: 20px;
    width:60vh;
    font-size: 1.5rem;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    color: #2B2E34;
   /* text-decoration: underline; */
    text-align:left;
    float: left;
    z-index: 4;
    /* border: 3px solid red; */
    /* vh+3vh */
}
.subtext{
    position: absolute;
    /* width:22vw; */
    /* height:40vh; */
    text-align: left;
    /* left:10vw; */
    /* top:26vh; */
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:12px;
    color: #c5b8b2;
}
.italic{
    font-style: italic;
}
nobr{
    font-family: fz-shu-song-gb18030, serif;
    font-weight: 400;       
    font-style: normal;
    font-size:0.8rem;
}}

/* /////////////////////    icons    /////////////////// */
.icons{
    position: fixed;
    display: flex;
    right:2vw;
    bottom:3vh;
    z-index: 10;
}
.icon{
    width:30px;
    /* border:3px solid red; */
    position: relative;
}

.fa {
    padding: 0px;
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    margin: 5px 1px;
    cursor: pointer;
  }
  
  .fa:hover {
      color:#aa3424;
  }
  

  .fa-instagram {
    background: transparent;
    color: white;
    width:40px;
    text-align: left;
    

  }

  .fa-instagram:hover::after{
      content:'instagram';
      position: relative;
      display: inline;
      bottom:1vh;
      text-align: left;
      left:-30px;
      color:white;
      font-family: neue-haas-unica, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 0.8rem;
      -webkit-animation: slideicon 0.3s forwards;
      animation: slideicon 0.3s forwards;
  }
  .fa-envelope-open-o {
    background: transparent;
    color: white;
    width:40px;
  }  
  .fa-envelope-open-o:hover::after{
    content:'email';
    position: relative;
    display: inline;
    bottom:1vh;
    text-align: left;
    left:-20px;
    color:white;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    -webkit-animation: slideicon 0.3s forwards;
    animation: slideicon 0.3s forwards;
}
  .fa-vimeo {
    background: transparent;
    color: white;
    width:40px;
  }
  .fa-vimeo:hover::after{
    content:'vimeo';
    position: relative;
    display: inline;
    bottom:1vh;
    text-align: left;
    left:-30px;
    color:white;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    -webkit-animation: slideicon 0.3s forwards;
    animation: slideicon 0.3s forwards;
}
  .fa-weibo{
    background: transparent;
    color: white;
    width:40px;
  }
  .fa-weibo:hover::after{
    content:'weibo';
    position: relative;
    display: inline;
    bottom:1vh;
    text-align: left;
    left:-30px;
    color:white;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    -webkit-animation: slideicon 0.3s forwards;
    animation: slideicon 0.3s forwards;
}
  .fa-globe{
    background: transparent;
    color: white;
    width:40px;
  }
  .fa-globe:hover::after{
    content:'portfolio';
    position: relative;
    display: inline;
    color: white;
    bottom:1vh;
    text-align: left;
    left:-30px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    -webkit-animation: slideicon 0.3s forwards;
    animation: slideicon 0.3s forwards;
}
  @-webkit-keyframes slideicon {
    100% { bottom:5vh; opacity: 1; }
}

@keyframes slideicon {
    100% { bottom:5vh; opacity: 1;}
}

/* /////////////////////    Transition     /////////////////// */



@-webkit-keyframes menuslide {
    100% { left: -80px; }
}

@keyframes menuslide {
    100% { left: -80px; }
}
  @-webkit-keyframes slide {
    100% { left: -100px; }
}

@keyframes slide {
    100% { left: -100px; }
}
@-webkit-keyframes slide2 {
    100% { 
        left: 50px; 
        opacity: 1;}
}

@keyframes slide2 {
    100% { 
        left: 50px; 
        opacity: 1; }
}



@-webkit-keyframes slideup {
    100% { top: 71vh; opacity: 1; }
}

@keyframes slideup {
    100% { top: 71vh; opacity: 1;}
}




/* /////////////////////    Page     /////////////////// */
/* html{
    /* scroll-behavior: smooth; */
    /* margin:0;
    padding:0; */


body{
    /* position:fixed; */
	background-color:#D9D9D1;
    width: 100vw;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;

    margin:0; 
    padding:0; 
    /* background-image: url(asset/white-paper-texture-with-flecks.jpg); */
    /* background-repeat:repeat;
    background-size:100%;
    background-blend-mode: multiply; */
    overflow:hidden;
}
/* body::after {
    content: "";
    background: url(asset/white-paper-texture-with-flecks.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: sticky;
    z-index: -4;   
  } */
#mycanvas{
    position: absolute; 
    /* position:-webkit-sticky; */
    top:0;
    
    display:block;
    width:100%;
    height:100%;
    /* left: 50; top: 50%; */
    z-index: 0;
  
}
 




.menu{
   
    /* transform-origin: center; */


    position:fixed;
    height:100vh;
    width:150px;
    top: 10px;
    left:-100px;
    z-index: 8;
     display:block;
    transition: 0.5s ease-in;
    -webkit-animation: menuslide 0.5s forwards;
    animation: menuslide 0.5s forwards;
    /* color:#867472; */
    /* border: 5px solid rebeccapurple; */
    background-color: transparent;
    /* border:3px solid red; */
    overflow:hidden;
}
.theonlychild{
    transform: rotate(-90deg);
    position: absolute ;
    height:22px;
    width:50px;
    top:10%;
    left:90px;
    cursor:pointer;
    font-size: 0.8rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;

    border: none;
    /* border-bottom: 1px solid #D9D9D1; */
    background-color: transparent;
    color:#D9D9D1;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
 
}
.theonlychild:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.realityGenerator{
    transform: rotate(-90deg);
    position: absolute ;
    height:22px;
    width:125px;
    left:52px;
    top:35%;
    cursor:pointer;
    font-size: 0.8rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    border: none;
    /* border-bottom: 1px solid #D9D9D1; */
    color:#D9D9D1;
    background-color: transparent;
    text-decoration: none;
    text-align: center;

}
.realityGenerator:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.menudata{
    transform: rotate(-90deg);
    position: absolute;
    height:22px;
    width:40px;
    left:95px;
    top:60%;
     z-index: 5; 
    cursor:pointer;
    font-size: 0.8rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border: none;

    /* border-bottom: 1px solid #D9D9D1; */
    color:#D9D9D1;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    text-align: center;
}
.menudata:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.menuabout{
    transform: rotate(-90deg);
    position: absolute ;
    height:22px;
    width:50px;
    top:81%;
    left:90px;
     z-index: 5; 
    cursor:pointer;
    font-size: 0.8rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border: none;
    color:#D9D9D1;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    text-align: center;

}
.menuabout:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}






/* ////////////////////////// */
.frame{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 3;
}


#homebg{
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    z-index: -2;
    overflow:hidden;
}
#homebg img{
    position: absolute;
    width:105vw;
    right:0;
    top:-170px;
}

#title{
    position: absolute;
    top:5vh;
    right:12vw;
    width:35vw;
    height:100vh;
    /* border:3px solid red; */
    
}
/* #htitle{
    position: absolute;
    right:10vw;
    top:5vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    bottom:0;
    font-style: normal;
    font-size: 9rem;
    text-align: right;
    color: white;
    kerning: auto;
    font-kerning: auto;

} */
#title img{
    position:absolute;
    width:35vw;
    right:0;
}
#homequote{
    position: absolute;
    left:12vw;
    width:50vw;
    bottom:5vh;
    height:30vh;
}
#projectquote{

    position: absolute;
    font-family: kepler-std, serif;
    font-weight: 500;
    bottom:0;
    font-style: normal;
    font-size: 3rem;
    text-align:left;
    kerning: auto;
    font-kerning: auto;
    left:10vw;
    bottom:25vh;
    width:55vw;
    color:#425C6D;
}
h{
    position:absolute;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    bottom:0;
    font-style: normal;
    font-size: 2em;
    text-align: left;
    color:#D9D9D1;
}

#topleft{
    position: absolute;
    top:5vh;
    left:12vw;
    width:21vw;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    bottom:0;
    font-style: normal;
    font-size: 0.8em;
    text-align: left;
    color:#D9D9D1;
}
#description{
    position:absolute;
    left:12vw;
    bottom:5vh;
    width:60vw;
}
#description img{
    position:absolute;
   bottom:0;
    width:58vw;

}