
.storyyear{
    position:absolute;
    left:13vw;
    bottom:5vh;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    color:#D9D9D1;
    z-index: 8;
    /* transform: rotate(90deg); */

}

.storycontent{
    position: absolute;
   height:90vh;
    right: 5vw;
    top:5vh;
     /* border:3px solid red; */
     width:63vh; 
    overflow-x: hidden;
    background-color: #D9D9D1;
    /* overflow-y: hidden; */
}
.storypage{
    position: absolute;
    top:-5vh;
    right:-2vw;
    height:100vh;
    transform: scale(0.9);
}
.syear{
    position: absolute;
    left:0vw;
    margin-left: 20px;
    height:5vh;
    width:5vw;
    top:3vh;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
  
    font-size: 8rem;
    color:#2B2E34;
    text-align: left;
    white-space: nowrap;
    z-index: 3;

}
.stext{
    position: absolute;
    top:26vh;
    left:17vh;
    width:35vh;
    min-width: 200px;
    text-align: left;
    z-index: 3;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;

}
.squote{
    position:absolute;
    left:0vw;
    height: 10vh;
    min-width: 20px;
    margin-left: 20px;
    width:60vh;
    font-size: 2rem;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    color: #2B2E34;
   /* text-decoration: underline; */
    text-align:left;
    float: left;
    z-index: 4;
    /* border: 3px solid red; */
    /* vh+3vh */
}
.subtext{
    position: absolute;
    /* width:22vw; */
    /* height:40vh; */
    text-align: left;
    /* left:10vw; */
    /* top:26vh; */
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:12px;
    color: #c5b8b2;
}
.italic{
    font-style: italic;
}
/* /////////////////////    Transition     /////////////////// */



@-webkit-keyframes menuslide {
    100% { left: -80px; }
}

@keyframes menuslide {
    100% { left: -80px; }
}
  @-webkit-keyframes slide {
    100% { left: -100px; }
}

@keyframes slide {
    100% { left: -100px; }
}
@-webkit-keyframes slide2 {
    100% { 
        left: 50px; 
        opacity: 1;}
}

@keyframes slide2 {
    100% { 
        left: 50px; 
        opacity: 1; }
}



@-webkit-keyframes slideup {
    100% { top: 71vh; opacity: 1; }
}

@keyframes slideup {
    100% { top: 71vh; opacity: 1;}
}




/* /////////////////////    Page     /////////////////// */
/* html{
    /* scroll-behavior: smooth; */
    /* margin:0;
    padding:0; */


body{
    /* position:fixed; */
	background-color:#D9D9D1;
    width: 100vw;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;

    margin:0; 
    padding:0; 
    /* background-image: url(asset/white-paper-texture-with-flecks.jpg); */
    /* background-repeat:repeat;
    background-size:100%;
    background-blend-mode: multiply; */
    overflow:hidden;
}
/* body::after {
    content: "";
    background: url(asset/white-paper-texture-with-flecks.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: sticky;
    z-index: -4;   
  } */
#mycanvas{
    position: absolute; 
    /* position:-webkit-sticky; */
    top:0;
    
    display:block;
    width:100%;
    height:100%;
    /* left: 50; top: 50%; */
    z-index: 0;
  
}
 




.menu{
   
    /* transform-origin: center; */


    position:fixed;
    height:100vh;
    width:150px;
    top: 10px;
    left:-100px;
    z-index: 8;
     display:block;
    transition: 0.5s ease-in;
    -webkit-animation: slide 0.5s forwards;
    animation: menuslide 0.5s forwards;
    /* color:#867472; */
    /* border: 5px solid rebeccapurple; */
    background-color: transparent;
    /* border:3px solid red; */
    overflow:hidden;
}
.theonlychild{
    transform: rotate(-90deg);
    position: absolute ;
    height:25px;
    width:50px;
    top:10%;
    left:90px;
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    /* outline: none; */
    /* border-style: none; */
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #D9D9D1;
    background-color: transparent;
    color:#D9D9D1;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
 
}
.theonlychild:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.realityGenerator{
    transform: rotate(-90deg);
    position: absolute ;
    height:25px;
    width:135px;
    left:50px;
    top:35%;
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    /* outline: none; */
    /* border-style: none; */
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #D9D9D1;
    color:#D9D9D1;
    background-color: transparent;
    text-decoration: none;
    text-align: center;

}
.realityGenerator:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.menudata{
    transform: rotate(-90deg);
    position: absolute;
    height:25px;
    width:40px;
    left:95px;
    top:60%;
     z-index: 5; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #D9D9D1;
    color:#D9D9D1;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    text-align: center;
}
.menudata:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.menuabout{
    transform: rotate(-90deg);
    position: absolute ;
    height:25px;
    width:50px;
    top:81%;
    left:90px;
     z-index: 5; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #D9D9D1;
    color:#D9D9D1;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    text-align: center;

}
.menuabout:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}






/* ////////////////////////// */
.frame{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 3;
}


#homebg{
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    z-index: -2;
    overflow:hidden;
}
#homebg img{
    position: absolute;
    width:105vw;
    right:0;
    top:-170px;
}

#title{
    position: absolute;
    top:5vh;
    right:12vw;
    width:35vw;
    height:100vh;
    /* border:3px solid red; */
    
}
/* #htitle{
    position: absolute;
    right:10vw;
    top:5vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    bottom:0;
    font-style: normal;
    font-size: 9rem;
    text-align: right;
    color: white;
    kerning: auto;
    font-kerning: auto;

} */
#title img{
    position:absolute;
    width:35vw;
    right:0;
}
#homequote{
    position: absolute;
    left:12vw;
    width:50vw;
    bottom:5vh;
    height:30vh;
}
#projectquote{

    position: absolute;
    font-family: kepler-std, serif;
    font-weight: 500;
    bottom:0;
    font-style: normal;
    font-size: 3rem;
    text-align:left;
    kerning: auto;
    font-kerning: auto;
    left:10vw;
    bottom:25vh;
    width:55vw;
    color:#425C6D;
}
h{
    position:absolute;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    bottom:0;
    font-style: normal;
    font-size: 2em;
    text-align: left;
    color:#D9D9D1;
}

#topleft{
    position: absolute;
    top:5vh;
    left:12vw;
    width:21vw;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    bottom:0;
    font-style: normal;
    font-size: 0.8em;
    text-align: left;
    color:#D9D9D1;
}
#description{
    position:absolute;
    left:12vw;
    bottom:5vh;
    width:60vw;
}
#description img{
    position:absolute;
   bottom:0;
    width:58vw;

}