/* screen - artboard-15 */

.artboard-15 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 961px;
  min-width: 667px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.artboard-15 .group-16-B2GfxI {
  background-color: transparent;
  background-image: url(../img/path-16-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: 30.91%;
  height: 0px;
  position: absolute;
  right: 67px;
  width: 0px;
}
.artboard-15 .group-17-C61RwL {
  background-color: transparent;
  height: 468px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 389px;
}
.artboard-15 .group-18-C61RwL {
  background-color: transparent;
  background-image: url(../img/path-16-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 0px;
  position: absolute;
  right: 46.37%;
  top: 42.81%;
  width: 0px;
}
.artboard-15 .group-24-C61RwL {
  background-color: transparent;
  background-image: url(../img/path-24-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.artboard-15 .group-27-C61RwL {
  background-color: transparent;
  height: 159px;
  left: 41px;
  position: absolute;
  top: 120px;
  width: calc(100.00% - 79px);
}
.artboard-15 .group-C61RwL {
  background-color: transparent;
  bottom: 57px;
  height: 627px;
  position: absolute;
  right: 78px;
  width: 389px;
}
.artboard-15 .keep-the-baby-h-edical-abortion-BKbGut {
  background-color: transparent;
  color: var(--charade);
  font-family: var(--font-family-kepler_std);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 161px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 58px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(100.00% + 2px);
}
.artboard-15 .span0-F3qgX9 {

}
.artboard-15 .span0-cUXmVS {
  color: var(--sonic-silver);
  font-family: var(--font-family-keplerstd-regular);
  text-decoration: underline;
}
.artboard-15 .span1-F3qgX9 {
  letter-spacing: -0.02px;
}
.artboard-15 .span1-cUXmVS {
  font-family: var(--font-family-keplerstd-regular);
  text-decoration: underline;
}
.artboard-15 .span2-F3qgX9 {

}
.artboard-15 .x-E582nk {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 30px;
  text-align: left;
  top: calc(40.97% - 8px);
  white-space: nowrap;
  width: 5px;
}
.artboard-15 .x-NOXmfT {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 7px;
  text-align: left;
  top: calc(30.97% - 6px);
  white-space: nowrap;
  width: 5px;
}
.artboard-15 .x-VrYlAT {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 12px;
  text-align: left;
  top: calc(47.63% - 9px);
  white-space: nowrap;
  width: 5px;
}
.artboard-15 .x-iMAlWq {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 20px;
  text-align: left;
  top: calc(44.30% - 8px);
  white-space: nowrap;
  width: 5px;
}
.artboard-15 .you-were-thinki-bortion-anymore-NOXmfT {
  background-color: transparent;
  color: var(--charade);
  font-family: var(--font-family-neue_haas_unica_w1g);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 629px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% + 2px);
}
