/* screen - artboard-14 */

.artboard-14 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 961px;
  min-width: 667px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.artboard-14 .group-16-B2GfxI {
  background-color: transparent;
  background-image: url(../img/path-16-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  bottom: 30.91%;
  height: 0px;
  position: absolute;
  right: 67px;
  width: 0px;
}
.artboard-14 .group-17-C61RwL {
  background-color: transparent;
  height: 468px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 389px;
}
.artboard-14 .group-18-C61RwL {
  background-color: transparent;
  background-image: url(../img/path-16-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 0px;
  position: absolute;
  right: 46.37%;
  top: 42.81%;
  width: 0px;
}
.artboard-14 .group-24-C61RwL {
  background-color: transparent;
  background-image: url(../img/path-24-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100.00% - 1px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.artboard-14 .group-27-C61RwL {
  background-color: transparent;
  height: 150px;
  left: 41px;
  position: absolute;
  top: 120px;
  width: calc(100.00% - 55px);
}
.artboard-14 .group-C61RwL {
  background-color: transparent;
  bottom: calc(38.60% - 159px);
  height: 411px;
  position: absolute;
  right: 49px;
  width: 380px;
}
.artboard-14 .keep-the-baby-h-edical-abortion-BKbGut {
  background-color: transparent;
  color: var(--sonic-silver);
  font-family: var(--font-family-kepler_std);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 152px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 58px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(100.00% + 2px);
}
.artboard-14 .span0-cUXmVS {
  color: var(--charade);
  font-family: var(--font-family-keplerstd-regular);
  text-decoration: underline;
}
.artboard-14 .span1-cUXmVS {
  font-family: var(--font-family-keplerstd-regular);
  text-decoration: underline;
}
.artboard-14 .where-are-you-gonna-give-birth-NOXmfT {
  background-color: transparent;
  height: 413px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% - 53px);
}
.artboard-14 .x-E582nk {
  background-color: transparent;
  bottom: calc(36.46% - 7px);
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 23px;
  text-align: left;
  white-space: nowrap;
  width: 5px;
}
.artboard-14 .x-NOXmfT {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: calc(48.04% - 9px);
  white-space: nowrap;
  width: 5px;
}
.artboard-14 .x-VrYlAT {
  background-color: transparent;
  bottom: calc(26.12% - 5px);
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 5px;
  text-align: left;
  white-space: nowrap;
  width: 5px;
}
.artboard-14 .x-iMAlWq {
  background-color: transparent;
  bottom: calc(31.29% - 6px);
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: 13px;
  text-align: left;
  white-space: nowrap;
  width: 5px;
}
