#fullpage1980 {
  position: relative;
  height: 100%;
  width: 100vw;
  margin: 0;
  z-index: 1;
}

body {
  background-color: #3a3631;
}

.section {
  width: 100vw;
  right: 0vw;
  /* transform:scale(2); */
  /* display: inline; */
  /* transform-origin: center right; */
  text-align: right;
  margin: 0;
  float: right;
  z-index: -3;
}

h1 {
  position: absolute;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  text-align: right;
  left: 20%;
  display: none;
  /* top:40%; */
}

.p1 {
  /* position:absolute; */
  margin: 0;
  right: 0vw;
  height: 90vh;
  z-index: 5;
  float: right;
}

#s2button {
  position: absolute;
  bottom: 6vh;
  left: 7vh;
  font-size: 2rem;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  color: #2B2E34;
  text-align: left;
  z-index: 4;
  text-decoration: none;
}

#s2yes {
  position: absolute;
  left: -58px;
  height: 5vh;
  font-size: 2rem;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  border-bottom: 2px solid #2B2E34;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
}

#s2yes:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s2no {
  position: absolute;
  left: 20px;
  height: 5vh;
  font-size: 2rem;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  background-color: transparent;
  border-bottom: 2px solid #2B2E34;
  color: #2B2E34;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  cursor: pointer;
}

#s2no:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.p2 {
  height: 90vh;
  margin: 0;
}

.p3-1 {
  height: 90vh;
  display: none;
  float: right;
}

#p3-1text {
  width: 25vw;
}

.p3-2 {
  height: 90vh;
  display: none;
  float: right;
}

#yesq {
  position: absolute;
  top: 15vh;
  left: 0;
  text-decoration: underline;
}

#noq {
  position: absolute;
  top: 15vh;
  left: 7vh;
  color: #717171;
  text-decoration: underline;
}

#yesq2 {
  position: absolute;
  left: 0;
  top: 10vh;
  color: #717171;
  text-decoration: underline;
}

#noq2 {
  position: absolute;
  left: 50px;
  top: 10vh;
  text-decoration: underline;
}

#intextquote {
  position: absolute;
  left: -17vh;
  top: 8vh;
}

.p4-1 {
  display: block;
  height: 90vh;
  float: right;
}

.p4-2 {
  display: none;
  height: 90vh;
  float: right;
}

.p4 {
  width: 62.5vh;
}

#s4text {
  position: absolute;
  bottom: 20vh;
  width: 33vw;
  text-align: left;
  left: 0;
  display: block;
}

#s4quote {
  position: relative;
  top: 44vh;
}

#s5-1980 {
  display: block;
}

.p5photo {
  width: 62.5vh;
}

#s5quote {
  position: relative;
  left: 0;
  top: 28vh;
}

#p5text {
  position: relative;
  width: 25vw;
}

#p5text2 {
  position: relative;
  top: 35vh;
  width: 25vw;
}

#s6-1980 {
  display: block;
  float: right;
}

.p6 img {
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  float: right;
}

#s6text {
  position: absolute;
  top: 72vh;
  width: 30vw;
  text-align: left;
  left: 0vh;
  display: block;
}

#s6link1 {
  left: 0vw;
  width: 60vh;
  position: absolute;
  color: #2B2E34;
  font-size: 2rem;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

#s6link1:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s6link2 {
  top: 5vh;
  left: 0vh;
  width: 60vh;
  position: absolute;
  color: #2B2E34;
  font-size: 2rem;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

#s6link2:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.tv {
  position: absolute;
  width: 20vw;
  top: 19vh;
  left: 14vw;
  opacity: 1;
}

#birthday {
  position: absolute;
  width: 20vw;
  height: auto;
  left: 33vw;
  top: 20vh;
}

#photo1980-1 {
  position: absolute;
  left: 0;
  top: 0vh;
  height: 100vh;
  width: 30vw;
}

#s1sub {
  color: #e4e3e0;
  position: relative;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  left: 0;
  top: 0vh;
  width: 20vw;
  height: 5vh;
  display: block;
  text-align: left;
  opacity: 0.8;
}

#s1sub a {
  text-decoration: underline;
  cursor: pointer;
  color: #e4e3e0;
}

#s1sub a:link {
  text-decoration: underline;
  color: #e4e3e0;
  cursor: pointer;
}

#s1sub a:hover {
  color: #aa3424;
  text-decoration: underline;
  cursor: pointer;
}

.s1photo {
  position: relative;
  width: 20vw;
  top: 0vh;
  left: 0vw;
  opacity: 1;
}

.s1photo1 {
  position: absolute;
  width: 20vw;
  top: 0vh;
  left: 0vw;
  opacity: 0.1;
}

#boat {
  position: absolute;
  width: 30vw;
  height: 30vh;
  left: 10vw;
  bottom: 14vh;
}

#s1sub2 {
  position: relative;
  bottom: 0px;
  width: 20vw;
  height: auto;
  left: 0;
}

.s2photo {
  position: relative;
  width: 30vw;
  top: 0vh;
  left: 0vw;
  opacity: 1;
}

#s2photo1 {
  position: absolute;
  width: 30vw;
  top: 0vh;
  left: 0vw;
  opacity: 0.1;
}

#deliver {
  position: absolute;
  width: 40vw;
  left: 12vw;
  top: 10vh;
  float: left;
}

#deliver img {
  position: relative;
  width: 40vw;
}

#delivertext {
  position: relative;
  width: 23vw;
  top: 0px;
  left: 0;
}

#delivertext nobr {
  font-family: fz-shu-song-gb18030, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.subtext {
  color: #e4e3e0;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  left: 0;
  width: 20vw;
  height: 5vh;
  display: block;
  text-align: left;
  opacity: 0.8;
}

#delievrphoto1 img {
  position: absolute;
  display: block;
  opacity: 0.1;
  width: 40vw;
  left: 12vw;
  top: 10vh;
}
/*# sourceMappingURL=1980s.css.map */