.bg{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color:#3a3631;
    // border:3px solid indigo;
    z-index: 0;
}

    body{
        background-color: #3a3631;
      }

#fullpage1990{
    position: relative;
    height:100%;
    width:100vw;
    margin:0;
    z-index: 1;
    // display: none;
    // overflow-y: hidden;
    
    // scroll-behavior: smooth;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type:y mandatory;
}

.section{
    width:100vw;
    right:0vw;
     text-align: right;
     margin:0;
     float: right;

   
        // background-color: black;
        // background-color: rgba(0, 0, 0, 0.651);  

        z-index: -3;
    }
    h1{
    
        position: absolute;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size:3em;
        text-align: right;
        left:20%;
        /* top:40%; */
        display:none;
        
    }

.storycontent{
    position: absolute;
   height:90vh;
    right: 5vw;
    top:5vh;
     width:63vh; 
    overflow-x: hidden;
    background-color: #D9D9D1;
    /* overflow-y: hidden; */
}
///////////////////////////////////////////////// 1
#p1{
    display: block;
    overflow-y: auto;
}


#p1::-webkit-scrollbar {
    -webkit-appearance: none;
}

#p1::-webkit-scrollbar:vertical {
    width: 11px;
}

#p1::-webkit-scrollbar:horizontal {
    height: 11px;
}

#p1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #D9D9D1; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


.s1interactive{
    position: absolute;
    font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:0.8rem;
        // right:16vh;
        // top:38.8vh;
        text-decoration: underline;
        z-index: 16;
        color:#2B2E34;
        cursor: pointer;
       
}
.wrap2{
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    
}
#古筝{
    position:absolute;
    width:1vw;
    height:1vh;
    top:50vh;
    left:55vw;
    display: none;
    opacity: 1;
    z-index: 4;
    transition: top 0.4s cubic-bezier(0.86,0,0.7,1),
    left 0.4s cubic-bezier(0.86,0,0.7,1);
    animation: gu 0.4s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: gu 0.4s cubic-bezier(.165,0.84,.44,1) both;
   
    // animation-delay: 0.03s;
    // transition-delay: 0.03s;
}
@-webkit-keyframes gu {
    100% { top: 60vh; left: 42vw; }
}

@keyframes gu {
    100% { top: 60vh; left: 42vw; }
}
#古筝 img{
    // position:absolute;
    width:20vw;
    
}
#pingpong{
    position:absolute;
    width:1vw;
    height:1vh;
    top:40vh;
    left:45vw;
    display: none;
    opacity: 1;
    z-index: 4;
    transition: top 0.4s cubic-bezier(0.86,0,0.7,1),
    left 0.4s cubic-bezier(0.86,0,0.7,1);
    animation: ping 0.4s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: ping 0.4s cubic-bezier(.165,0.84,.44,1) both;
   
    // animation-delay: 0.03s;
    // transition-delay: 0.03s;
}
@-webkit-keyframes ping {
    100% { top: 40vh; left: 38vw; }
}

@keyframes ping {
    100% { top: 40vh; left: 38vw; }

}
#pingpong img{
    // position:absolute;
    width:10vw;
    
}
#新概念{
    position:absolute;
    width:1vw;
    height:1vh;
    top:50vh;
    left:45vw;
    display: none;
    opacity: 1;
    z-index: 2;
    transition: top 0.4s cubic-bezier(0.86,0,0.7,1),
    left 0.4s cubic-bezier(0.86,0,0.7,1);
    animation: xingainian 0.3s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: xingainian 0.3s cubic-bezier(.165,0.84,.44,1) both;
   
    // animation-delay: 0.2s;
    // transition-delay: 0.2s;
}
@-webkit-keyframes xingainian {
    100% { top: 50vh; left: 33vw; }
}

@keyframes xingainian {
    100% { top: 50vh; left: 33vw; }
}
#新概念 img{
    // position:absolute;
    width:12vw;
    
}
#舞蹈鞋{
    position:absolute;
    width:5vw;
    height:5vh;
    top:55vh;
    left:50vw;
    display: none;
    opacity: 1;
    z-index: 5;
    transition: top 0.3s cubic-bezier(0.86,0,0.7,1),
    left 0.3s cubic-bezier(0.86,0,0.7,1);
    animation: wudaoxie 0.3s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: wudaoxie 0.3s cubic-bezier(.165,0.84,.44,1) both;
   
    // animation-delay: 0.2s;
    // transition-delay: 0.2s;
}
@-webkit-keyframes wudaoxie {
    100% { top: 65vh; left: 35vw; }
}

@keyframes wudaoxie {
    100% { top: 65vh; left: 35vw; }
}
#舞蹈鞋 img{
    // position:absolute;
    width:15vw;
    
}
#算盘{
    position:absolute;
    width:1vw;
    height:1vh;
    top:40vh;
    left:55vw;
    display: none;
    opacity: 1;
    z-index: 3;
    transition: top 0.4s cubic-bezier(0.86,0,0.7,1),
    left 0.4s cubic-bezier(0.86,0,0.7,1);
    animation: suanpan 0.4s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: suanpan 0.4s cubic-bezier(.165,0.84,.44,1) both;
   

}
@-webkit-keyframes suanpan {
    100% { top: 40vh; left: 50vw; }
}

@keyframes suanpan {
    100% { top: 40vh; left: 50vw; }
}
#算盘 img{
    // position:absolute;
    width:10vw;
    
}
#书法{
    position:absolute;
    width:5vw;
    height:5vh;
    top:48vh;
    left:55vw;
    display: none;
    opacity: 1;
    z-index: 1;
    transition: top 0.5s cubic-bezier(0.86,0,0.7,1),
    left 0.5s cubic-bezier(0.86,0,0.7,1);
    animation: shufa 0.4s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: shufa 0.4s cubic-bezier(.165,0.84,.44,1) both;


}

@-webkit-keyframes shufa {
    100% { top: 52vh; left: 40vw; }
}

@keyframes shufa {
    100% { top: 52vh; left: 40vw; }
}

#书法 img{
    // position:absolute;
    width:12vw;
    
}
#素描{
    position:absolute;
    width:1vw;
    height:1vh;
    top:40vh;
    left:50vw;
    display: none;
    opacity: 1;
    z-index: 3;
    transition: top 0.4s cubic-bezier(0.86,0,0.7,1),
    left 0.4s cubic-bezier(0.86,0,0.7,1);
    animation: sumiao 0.3s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: sumiao 0.3s cubic-bezier(.165,0.84,.44,1) both;
  
    // animation-delay: 0.2s;
    // transition-delay: 0.2s;
}
@-webkit-keyframes sumiao {
    100% { top: 45vh; left: 47vw; }
}

@keyframes sumiao {
    100% { top: 45vh; left: 47vw; }
}
#素描 img{
    // position:absolute;
    width:20vw;
    
}
#国际象棋{
    position:absolute;
    width:1vw;
    height:1vh;
    top:35vh;
    left:50vw;
    display: none;
    opacity: 1;
    z-index: 2;
    transition: top 0.5s cubic-bezier(0.86,0,0.7,1),
    left 0.5s cubic-bezier(0.86,0,0.7,1);
    animation: schess 0.5s cubic-bezier(.165,0.84,.44,1) both;
    -webkit-animation: chess 0.5s cubic-bezier(.165,0.84,.44,1) both;
    // animation-delay: 0.06s;
    // transition-delay: 0.06s;
}
@-webkit-keyframes chess {
    0%{opacity: 0;}    
    1%{opacity: 1;}
    100% { top: 30vh; left: 45vw; opacity: 1;}
}

@keyframes chess {
    0%{opacity: 0;}    
    1%{opacity: 1;}
    100% { top: 35vh; left: 45vw; opacity: 1;}
}
#国际象棋 img{
    // position:absolute;
    width:8vw;
    
}
.s1interactive:hover {
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}




.classes{
    z-index: 10;
}

#s3button{
    position:absolute;
    left: 60px;
    top:60vh;
    font-size: 4vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    color:#2B2E34;
    text-align:left;
    z-index: 5;

}
#s3yes{
    position: absolute;
   left:-80px;
    height:5vh;
    background-color: transparent;
    color: #2B2E34;
    border: none;
    text-align:left;
    text-decoration: underline;
    cursor: pointer;
    z-index: 8;

}
#s3yes:hover{
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
#s3no{
    position: absolute;
    left:0px;
    height:5vh;
    background-color: transparent;
    color: #2B2E34;
    border: none;
    text-decoration: underline;
    text-align:left;
    cursor: pointer;
    z-index: 8;

}
#s3no:hover{
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}

/////////////////////////////////////////////////////4

#p4yes{
    display: none;

    
}
#p4no{
    display: none;
}
#p4yy{
    position: absolute;
    left:0;
    top:10vh;
}
#p4yn{
    position: absolute;
    left:50px;
    top:10vh;
}


#s5-1990{
    display: block;
    // float: right;
}

#s5button-1{
    position:absolute;
    left:70px;
    top:78vh;
    font-size: 2rem;
    font-family: kepler-std, serif;
    font-weight: 500;
    background-color: transparent;
    color:#2B2E34;
    text-align:left;
    z-index: 4;
    display: block;
    #s5yes-1 {
        position: absolute;
       left:-60px;
        height:5vh;
        // top:72vh;
        font-size: 2rem;
        font-family: kepler-std, serif;
        font-weight: 500;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none;
        text-align:left;
        cursor: pointer;
    }
    #s5yes-1:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
    #s5no-1{
        position: absolute;
        // right: 2vh;
        left:20px;
        height:5vh;
        font-size: 2rem;
        font-family: kepler-std, serif;
        font-weight: 500;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none; 
        text-align:left;
        cursor: pointer;
    }
    #s5no-1:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
}
#s5button{
    position:absolute;
    left:60px;
    top:78vh;
    font-size: 4vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    color:#2B2E34;
    text-align:left;
    z-index: 4;
    display: block;
    // border: 3px solid deeppink;
    #s5yes {
        position: absolute;
       left:-60px;
        height:5vh;
        top:0vh;
        font-size: 2rem;
        font-family: kepler-std, serif;
        font-weight: 500;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none;
        text-align:left;
        cursor: pointer;
    }
    #s5yes:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
    #s5no{
        position: absolute;
        // right: 2vh;
        left:20px;
        height:5vh;
        top:0vh;
        font-size: 2rem;
        font-family: kepler-std, serif;
        font-weight: 500;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none; 
        text-align:left;
        cursor: pointer;
    }
    #s5no:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
}

#s6button{
    display: none;
    position:absolute;
    font-size: 2rem;
    font-family: kepler-std, serif;
    font-weight: 500;
    left:60px;
    top:75vh;
    text-align:left;
    z-index: 4;

    #s6yes{
        position: absolute;
       left:-50px;
        height:5vh;
        // top:72vh;
        font-size: 2rem;
    font-family: kepler-std, serif;
    font-weight: 500;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none;
        text-align:left;
        cursor: pointer;
    }
    #s6yes:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
    #s6no{
        position: absolute;
        // right: 2vh;
        left:20px;
        height:5vh;
        font-size: 2rem;
        font-family: kepler-std, serif;
        font-weight: 500;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none; 
        text-align:left;
        cursor: pointer;
    }
    #s6no:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
    #s6-1990{
        display: block;
        float: right;
        text-align: right;
    }
    

   
}

#p6yes{
    // position:absolute;
   
    overflow-y: auto;
    // border:3px solid olivedrab;
   }

#p7yes{
    display: none;
}

#p7no{
    float: right;
    // width:62.5vh;
    // height:90vh;
    display:none;
    overflow-y:auto ;
    overflow-x: hidden;

}
#p7-1{
    display:none;
}

#p7-2{
    display:none;
}

#s8-1990{
    display: block;
    // position: absolute;
}
#p8{
    display: block;
}

#p8lastpage{
    display:block;
    // border:3px solid olivedrab;

}

#s9-1990{
    display: block;
    // position: absolute;
}
#p9lastpage{
    display:block;
    // border:3px solid olivedrab;

}


//////////////////// photo  //////////////

.frame{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 0;
}



.tv {
    position:absolute;
    width:20vw;
    top:21vh;
    left:19vw;
}
#birthday{
    position:absolute;
    width:20vw;
    height:100vh;
    left:33vw;
    // border: 3px solid palegreen;
}
#photo1980-1{
    position:absolute;
    left:0;
    top:42vh;
    height:50vh;
    width:30vw;
    // border:5px solid deeppink;
    
}
#s1sub{
    // content: 'Collected by Thomas Sauvin. From his ongoing Beijing Silvermine project';
    color: #e4e3e0;
    position: relative;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:0.8rem;
    left:0;
    top:0vh;
    width: 20vw;
    height:5vh;
    // border:5px solid deeppink;
    display:block;
    text-align: left;
    opacity: 0.7;

    a{
        text-decoration: underline;
        cursor:pointer;
        color: #e4e3e0;
    }

    a:link{
        text-decoration: underline;
        color: #e4e3e0;
        cursor:pointer;


    }
    a:hover {
        color:#aa3424;
        text-decoration: underline;
        cursor:pointer;
      }
}
#piano{
    position:absolute;
    left:12vw;
    top:20vh;
}
.s1photo{
    position:relative;
    width:20vw;
    // top:42vh;
    // left:15vw;
    opacity: 0.7;
}

#park{
    position:absolute;
    top:37vh;
    left:34vw;
    width:18vw;
    // border:3px solid cornflowerblue;
}
#s2photo{
    position:relative;
    width:18vw;
    // top:50vh;
    // left:0vw;
    opacity: 0.7;
}
#barbie{
    position:absolute;
    width:15vh;
    top:25vh;
    left:17vw;
}
#s2photo-1{
    position: absolute;
    width:12vw;
    // top:10vh;
}


.subtext{
    // content: 'Hongfei studio';
    color: #e4e3e0;
    position: relative;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:0.8rem;
    left:0;
    // top:50vh;
    width: 20vw;
    height:5vh;
    // border:5px solid deeppink;
    display:block;
    text-align: left;
    opacity: 0.7;

}
#s3photo-1{
    position:absolute;
    left:12vw;
    top:10vh;
    left:12vw;
    width:32vw;
    z-index: 1;
}
#sadface{
    position:absolute;
    height:100vh;
    top:10vh;
    // left:12vw;
    width:32vw;
    z-index: 1;
    display: none;
}
#s4photo-1{
    position:absolute;
    top:38.5vh;
    left:12vw;
    width:21vw;
    z-index: 1;
}
#baby{
    position:absolute;
    height:100vh;
    top:10vh;
    // left:12vw;
    width:32vw;
    z-index: 1;
    display: none;
}
#s5photo-1{
    position:absolute;
    top:16vh;
    left:12vw;
    width:21vw;
    z-index: 1;
}


.shop{
    position: absolute;
    width:25vh;
    top:40vh;
    left:33vw;
    opacity: 0.1;
}


#s11text
{
    position: absolute;
    height:20vh;

    bottom:10vh;
}
#lastlink{
    position: absolute;
    // top:5vh;
    // left:9.5vw;
    font-size: 2rem;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    // left:5vw;
    // width:32vh;
    height: 5vh;
    position: absolute;
    color:#2B2E34;
    padding: 10px;

    display: flexbox;
    text-align: left;
    text-decoration: underline;
    cursor:pointer;

}
#lastlink:hover{
    color:#aa3424;
    text-decoration-color: #aa3424;
    transition: color 0.2s ease-in-out;
}