@charset "UTF-8";
/* /////////////////////    Transition     /////////////////// */
@-webkit-keyframes menuslide {
  100% {
    left: -80px;
  }
}

@keyframes menuslide {
  100% {
    left: -80px;
  }
}

@-webkit-keyframes slide {
  100% {
    left: -100px;
  }
}

@keyframes slide {
  100% {
    left: -100px;
  }
}

@-webkit-keyframes slide2 {
  100% {
    left: 50px;
    opacity: 1;
  }
}

@keyframes slide2 {
  100% {
    left: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes slideup {
  100% {
    top: 71vh;
    opacity: 1;
  }
}

@keyframes slideup {
  100% {
    top: 71vh;
    opacity: 1;
  }
}

/* /////////////////////    Page     /////////////////// */
/* html{
    /* scroll-behavior: smooth; */
/* margin:0;
    padding:0; */
body {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D9D9D1;
  overflow-x: hidden;
}

#fullpageabout {
  position: relative;
  height: 100%;
  width: 100vw;
  margin: 0;
  z-index: 1;
  display: block;
}

.section {
  width: 80vh;
  right: 0vw;
  /* transform:scale(2); */
  /* display: inline; */
  /* transform-origin: center right; */
  text-align: right;
  margin: 0;
  float: right;
  z-index: -3;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#title {
  position: absolute;
  position: absolute;
  width: 50vw;
  top: 4vh;
  right: 12vw;
  z-index: 4;
  font-size: 20vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: right;
  kerning: auto;
}

#abouts1quote {
  position: absolute;
  font-size: 3.5rem;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #425C6D;
  text-align: left;
  kerning: auto;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  left: 10vw;
  width: 55vw;
}

#quote2 {
  position: absolute;
  right: 12vw;
  bottom: 5vh;
  width: 15vw;
  position: absolute;
  font-size: 2rem;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #425C6D;
  text-align: left;
  kerning: auto;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

#s2-about {
  overflow-y: auto;
  float: right;
}

#wrap {
  right: 0;
  width: 5vw;
  height: 300vh;
  z-index: 0;
}

#maintext {
  position: absolute;
  right: 16vw;
  top: 22vh;
  width: 28vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  z-index: -3;
}

#maintext h {
  position: relative;
  width: 20vw;
  right: 14vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  color: #2B2E34;
}

#署名 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-align: right;
}

.menu {
  /* transform-origin: center; */
  color: #425C6D;
  position: fixed;
  height: 100vh;
  width: 150px;
  top: 10px;
  left: -100px;
  z-index: 8;
  display: block;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-animation: slide 0.5s forwards;
  animation: menuslide 0.5s forwards;
  /* color:#867472; */
  /* border: 5px solid rebeccapurple; */
  background-color: transparent;
  /* border:3px solid red; */
  overflow: hidden;
}

.theonlychild {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  height: 25px;
  width: 50px;
  top: 10%;
  left: 90px;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  /* outline: none; */
  /* border-style: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  background-color: transparent;
  color: #425C6D;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.theonlychild:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.realityGenerator {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  height: 25px;
  width: 135px;
  left: 50px;
  top: 35%;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  /* outline: none; */
  /* border-style: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  color: #425C6D;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

.realityGenerator:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.menudata {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  height: 25px;
  width: 40px;
  left: 95px;
  top: 60%;
  z-index: 5;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  kerning: auto;
  outline: none;
  border-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  color: #425C6D;
  background-color: transparent;
  /* display:none; */
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.menudata:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.menuabout {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  height: 25px;
  width: 50px;
  top: 81%;
  left: 90px;
  z-index: 5;
  cursor: pointer;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  kerning: auto;
  outline: none;
  border-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #425C6D;
  color: #425C6D;
  background-color: transparent;
  /* display:none; */
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.menuabout:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/*# sourceMappingURL=about.css.map */