#fullpage1980 {
  position: relative;
  height: 100%;
  width: 90vw;
  margin: 0;
  z-index: 1;
}

.section {
  width: 90vw;
  right: 0vw;
  /* transform:scale(2); */
  /* display: inline; */
  /* transform-origin: center right; */
  text-align: right;
  margin: 0;
  float: right;
  z-index: -3;
}

body {
  background-color: #3a3631;
}

h1 {
  position: absolute;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  text-align: right;
  left: 20%;
  display: none;
  /* top:40%; */
}

.text {
  position: absolute;
}

.s1page {
  position: absolute;
  margin: 0;
  right: 0vw;
  top: 5vh;
  width: 62.5vh;
  height: 90vh;
  z-index: 5;
  float: right;
  overflow-y: auto;
}

.p1 {
  /* position:absolute; */
  margin: 0;
  right: 0vw;
  width: 62.5vh;
  z-index: 5;
  display: inline-block;
}

.p2 {
  height: 90vh;
  margin: 0;
}

.p3 {
  height: 90vh;
  float: right;
}

.p4 {
  display: block;
  height: 90vh;
  float: right;
}

#p4-1 {
  position: absolute;
  width: 50vh;
  top: 73vh;
  right: 10vh;
  float: right;
  z-index: 9;
  opacity: 0;
}

.s4page {
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  z-index: 9;
}

.p4 {
  width: 62.5vh;
}

.p5 {
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  overflow-y: hi;
  z-index: 9;
}

.p5 img {
  width: 62.5vh;
}

#p5-1 {
  position: absolute;
  width: 37.5vh;
  top: 36.5vh;
  right: 11vw;
  float: right;
  z-index: 9;
  display: block;
}

#p5-2 {
  position: absolute;
  width: 51.2vh;
  top: 48.8vh;
  right: 4vw;
  float: right;
  z-index: 9;
}

.p6 {
  overflow-y: hidden;
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  overflow-y: hidden;
  z-index: 2;
}

.p6 img {
  height: 90vh;
}

#s6text {
  position: absolute;
  top: 72vh;
  width: 30vw;
  text-align: left;
  right: 2.5vw;
  display: block;
  z-index: 8;
}

#s6text .lastlink {
  left: 9.5vw;
  width: 32vh;
  position: absolute;
  color: #2B2E34;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vh;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

#s6text .lastlink:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.birthday {
  position: absolute;
  width: 20vw;
  height: 100vh;
  left: 0vw;
}

#s1sub {
  color: #e4e3e0;
  position: absolute;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  left: 24vw;
  top: 28vh;
  width: 30vh;
  height: 5vh;
  display: block;
  text-align: right;
  opacity: 0.7;
}

.s1photo {
  position: absolute;
  width: 40vw;
  top: -25vh;
  left: 0vw;
  opacity: 0.7;
}

.s2photo {
  position: absolute;
  width: 20vw;
  top: 50vh;
  left: 0vw;
  opacity: 0.7;
}

.wedding {
  position: absolute;
  width: 20vw;
  top: 0;
  height: 100vh;
  left: 11vw;
}

.wedding::after {
  content: 'Hongfei studio';
  color: #e4e3e0;
  position: relative;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  top: 74vh;
  width: 50vh;
  height: 5vh;
  display: block;
  text-align: left;
  opacity: 0.7;
}
/*# sourceMappingURL=1980sRural.css.map */