.bg{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    // background-color:#3a3631;
    // border:3px solid indigo;
    // z-index: 0;
}
body{
    background-color: #3a3631;
}
#fullpage1990{
    position: relative;
    height:100%;
    width:100vw;
    margin:0;
    // z-index: 1;
    // display: none;
    // overflow-y: hidden;
    
    // scroll-behavior: smooth;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type:y mandatory;
}

.section{
 
        // position:relative;
        width:100vw;
        right:0vw;
        // z-index: 2;
        /* transform:scale(2); */
        /* display: inline; */
         /* transform-origin: center right; */
         text-align: right;
         margin:0;
         float: right;
    
       
            // background-color: black;
            // background-color: rgba(0, 0, 0, 0.651);  
    
            z-index: -3;
        
    h1{
    
        position: absolute;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size:3em;
        text-align: right;
        left:20%;
        display:none;
        /* top:40%; */
        
    }}
// h{
//     font-size: 4vh;
//     font-family: kepler-std, serif;
//     font-weight: 500;
//     font-style: normal;
// }
////////////////////////////////////////////// 1
#s1text{
    width:40vh; 
}
#s1quote{
    position: absolute;
    top:52vh;
    width:35vw;
}


/////////////////////////////////////////////// 2
#s2-1990{
    // position: absolute;
    width:90vw;
    
}





////////////////////////////////////////////// 3

#s3button{
    position:absolute;
    right: 50vh;
    top:50vh;
    font-size: 4vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    color:#2B2E34;
    text-align:left;
    z-index: 8;

}
.s3yes{
    position: absolute;
    right: 2vh;
    height:5vh;
    // top:72vh;
    font-size: 4vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
 
    color: #2B2E34;
    border: none;
    text-align:left;
    cursor: pointer;
    z-index: 6;
    text-decoration: underline;

}
.s3yes:hover{
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
.s3no{
    position: absolute;
    // right: 2vh;
    // top:72vh;
    height:5vh;
    font-size: 4vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    border-bottom: 2px solid #2B2E34;
    color: #2B2E34;
    border: none;
    text-align:left;
    cursor: pointer;
    z-index: 6;
    text-decoration: underline;

}
.s3no:hover{
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}



////////////////////////////////////////////// 4
.s4page{
    position: absolute;
    top:5vh;
   right: 0;
    // width:62.5vh;
    // heigh .t:90vh;
    // overflow-y: auto ;
    // background-color: turquoise;
    z-index: 9;
}
#p4yes{
    // position: absolute;
    // top:10vh;
   height:90vh;
   float:right;
    width:62.5vh;
    display: none;

}
#p4no{
    // position: absolute;
    // top:10vh;
   height:90vh;
   float:right;
    width:62.5vh;
    display: none;
    // z-index: 6;
}
// #s5-1990{
//     display: none;
// }
#s4yes{
    position: absolute;
    top:15vh;
    text-decoration: underline;
}
#s4no{
    position: absolute;
    top:15vh;
    left:60px;
    text-decoration: underline;
}
/////////////////////////////////// 5
#p5yes{
    display: none;
    // float: right;
}

#p5no{
    display: none;
}

#s5button-1{
    position:absolute;
    // right: 50vh;
    top:50vh;
    left:65px;
    font-size: 4vh;
    font-family: kepler-std, serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    color:#2B2E34;
    text-align:left;
    z-index: 4;
    display: block;
    // text-decoration: underline;
}
    #s5yes {
        position: absolute;
        // right: 2vh;
        // height:5vh;
        // top:72vh;
        left:-55px;
        font-size: 4vh;
        font-family: kepler-std, serif;
        font-weight: 500;
        font-style: normal;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none;
        text-align:left;
        cursor: pointer;
    }
    #s5yes:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }
    #s5no{
        position: absolute;
        // right: 2vh;
        // top:72vh;
        height:5vh;
        left:10px;
        font-size: 4vh;
        font-family: kepler-std, serif;
        font-weight: 500;
        font-style: normal;
        background-color: transparent;
        text-decoration: underline;
        color: #2B2E34;
        border: none;
        text-align:left;
        cursor: pointer;
    }
    #s5no:hover{
        color:#aa3424;
        // border-bottom: 2px solid #aa3424;
        transition: color 0.2s ease-in-out;
    }


    

/////////////////////////////////////////// 6
#p6nono{
    display: none;
}
#p6yes{
    .syear{
        top:20vh;
    }
.stext{
    top:45vh;
}
}
#s6text{
    position: absolute;
    top:50vh;
    font-size:4vh ;
    left:0;
    z-index: 6;
    .squote:hover{

            color:#aa3424;
            // border-bottom: 2px solid #aa3424;
            transition: color 0.2s ease-in-out;
    
    }
}



    #s6yes{
        position: absolute;
        right: 2vh;
        height:5vh;
        // top:72vh;
        font-size: 4vh;
        font-family: kepler-std, serif;
        font-weight: 500;
        font-style: normal;
        background-color: transparent;
        border-bottom: 2px solid #2B2E34;
        color: #2B2E34;
        border-top: none; border-left: none;border-right: none;
        text-align:left;
        cursor: pointer;
    }

 
    #s6-1990{
        display: block;
        float: right;
        text-align: right;
    }
    
    #p6-1{
        float: right;
        width:62.5vh;
        height:90vh;
        overflow-y: auto ;
    }
    #p6-1 img{
        float: right;
        width:62.5vh;
        // height:90vh;
        // overflow-y: auto ;
    }
   

.p6{
    position: absolute;
    right:0;
    top:5vh;
    float: right;
    width:62.5vh;
    height:90vh;
}
#p6yes{
    // position:absolute;
   
    overflow-y: auto;
    // border:3px solid olivedrab;
   }
   #p6yes img{
    float: right;
    width:62.5vh;
    // height:90vh;
}
// #p6no{
//     // position:absolute;
    
//     // border:3px solid olivedrab;
//  }
 #p6no img{
    float: right;
    // width:62.5vh;
    height:90vh;
}
    #p6-1{
        // position:absolute;
        height:90vh;
        overflow-y: auto;
        // border:3px solid olivedrab;
        }
        #p6-1 img{
            float: right;
            width:62.5vh;
            // height:90vh;
        }
        #p6-2{
            // position:absolute;
           
            overflow-y: auto;
            // border:3px solid olivedrab;
            }
            #p6-2 img{
                float: right;
                width:62.5vh;
                // height:90vh;
            }
            //////////////////////// 7
#p7yes{
    display: none;
}
// #p7yes img{
//     float: right;
//     // width:62.5vh;
//     height:90vh;
// }
#p7no{
  
    display:none;
  z-index: 3;
    // img{
    //      width:62.5vh;
    //     // height:90vh;
    // }
}
#p7nono{
    display:none;
}

// #p7-2{
//     display:none;
// }
// #p7-2 img{
//     float: right;
//     // width:62.5vh;
//     height:90vh;
// }
/////////////////////////////////// 8

#p8yes{
    display:none;
}

#p8no{
    display: none;
}
#s8yes{
    // width:30vw;
    position: absolute;
    top:40vh;
}
/////////////////////////////// 9
#s9-1990{
    display: block;
    // position: absolute;
}
#p9lastpage{
    display:block;
    // border:3px solid olivedrab;

}
#p9lastpage img{
    height:90vh;
    
}

//////////////////// photo  //////////////

.frame{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 0;
}



.tv {
    position:absolute;
    width:20vw;
    top:21vh;
    left:19vw;
}
#birthday{
    position:absolute;
    width:20vw;
    height:100vh;
    left:33vw;
    // border: 3px solid palegreen;
}
#photo1980-1{
    position:absolute;
    left:0;
    top:42vh;
    height:50vh;
    width:30vw;
    // border:5px solid deeppink;
    
}
#s1sub{
    // content: 'Collected by Thomas Sauvin. From his ongoing Beijing Silvermine project';
    color: #e4e3e0;
    position: relative;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:0.8rem;
    left:0;
    top:0vh;
    width: 20vw;
    height:5vh;
    // border:5px solid deeppink;
    display:block;
    text-align: left;
    opacity: 0.7;

    a{
        text-decoration: underline;
        cursor:pointer;
        color: #e4e3e0;
    }

    a:link{
        text-decoration: underline;
        color: #e4e3e0;
        cursor:pointer;


    }
    a:hover {
        color:#aa3424;
        text-decoration: underline;
        cursor:pointer;
      }
}
#piano{
    position:absolute;
    left:12vw;
    top:20vh;
}
.s1photo{
    position:relative;
    width:20vw;
    // top:42vh;
    // left:15vw;
    opacity: 0.7;
}

#park{
    position:absolute;
    top:37vh;
    left:34vw;
    width:18vw;
    // border:3px solid cornflowerblue;
}
#s2photo{
    position:relative;
    width:18vw;
    // top:50vh;
    // left:0vw;
    opacity: 0.7;
}
#barbie{
    position:absolute;
    width:15vh;
    top:25vh;
    left:17vw;
}
#s2photo-1{
    position: absolute;
    width:12vw;
    // top:10vh;
}


.subtext{
    // content: 'Hongfei studio';
    color: #e4e3e0;
    position: relative;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:0.8rem;
    left:0;
    // top:50vh;
    width: 20vw;
    height:5vh;
    // border:5px solid deeppink;
    display:block;
    text-align: left;
    opacity: 0.7;

}
#s3photo-1{
    position:absolute;
    left:12vw;
    top:49vh;
    left:12vw;
    width:32vw;
    z-index: 1;
}
#sadface{
    position:absolute;
    height:100vh;
    top:10vh;
    // left:12vw;
    width:32vw;
    z-index: 1;
    display: none;
}
#s4photo-1{
    position:absolute;
    top:38.5vh;
    left:12vw;
    width:21vw;
    z-index: 1;
}
#baby{
    position:absolute;
    height:100vh;
    top:10vh;
    // left:12vw;
    width:32vw;
    z-index: 1;
    display: none;
}
#s5photo-1{
    position:absolute;
    top:16vh;
    left:12vw;
    width:21vw;
    z-index: 1;
}


.shop{
    position: absolute;
    width:25vh;
    top:40vh;
    left:33vw;
    opacity: 1;
}
#withmomwrap{
    position:absolute;
    width:30vw;
    left:10vw;
    top:10vh;
    opacity: 1;
    .subtext{
        position: relative;
        top:0;
    }
}
#withmom{
    position: relative;
    width:30vw;
    
}