body {
  /* position:fixed; */
  background-color: #D9D9D1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  /* background-image: url(asset/white-paper-texture-with-flecks.jpg); */
  /* background-repeat:repeat;
    background-size:100%;
    background-blend-mode: multiply; */
  overflow-x: hidden;
  /* overflow-y: hidden;  */
}

.subtext {
  color: #2B2E34;
}

#fullpagedata {
  position: absolute;
  height: 100%;
  width: 100vw;
}

#title {
  position: absolute;
  position: absolute;
  width: 50vw;
  top: 4vh;
  right: 12vw;
  z-index: 4;
  font-size: 20vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: right;
  kerning: auto;
  z-index: 0;
}

#menu a {
  color: #425C6D;
  border-bottom: 1px solid #425C6D;
  z-index: 6;
}

#menu a #menu a:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#datapage1 {
  position: absolute;
  width: 100vw;
  top: 0vh;
  left: 5vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 8;
  display: block;
}

#wrap {
  position: absolute;
  width: 80vw;
  height: 200vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.stext {
  position: absolute;
  top: 10vh;
  left: 68vw;
}

.stext h {
  position: absolute;
  width: 40vw;
  font-size: 2rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
  text-align: left;
  top: 0;
}

#s1text {
  position: absolute;
  display: none;
  top: 27vh;
  z-index: 1;
}

#s3text {
  position: absolute;
  display: none;
  z-index: 1;
}

#s5text {
  position: absolute;
  display: none;
  z-index: 1;
}

#s6text {
  position: absolute;
  display: none;
  z-index: 1;
}

#c1axis {
  display: block;
}

#c1x {
  position: absolute;
  width: 600px;
  left: 118px;
  top: 650px;
}

#c1y {
  display: block;
}

#c1ypic {
  position: absolute;
  width: 665px;
  height: auto;
  left: 95px;
  top: 293px;
}

#c1content {
  position: absolute;
  width: 589px;
  left: 122px;
  top: 334px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  animation: slideup 0.5s ease-in-out;
  -webkit-animation: slideup 0.5s ease-in-out;
}

@keyframes slideup {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

#comparep {
  display: none;
}

#comparef {
  display: none;
}

#comparefgraph {
  position: absolute;
  width: 600px;
  height: 375px;
  left: 110px;
  top: 280px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  animation: slideup 0.5s ease-in-out;
  -webkit-animation: slideup 0.5s ease-in-out;
}

#total {
  position: absolute;
  left: 100px;
  top: 110px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #717171;
  text-align: left;
  cursor: pointer;
  z-index: 5;
}

#total:hover:focus {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#comparefb {
  position: absolute;
  left: 100px;
  top: 160px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #717171;
  cursor: pointer;
  z-index: 5;
}

#comparefb:hover:focus {
  cursor: pointer;
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#comparepb {
  position: absolute;
  left: 100px;
  top: 185px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #717171;
  cursor: pointer;
  z-index: 8;
}

#compareflegend {
  position: absolute;
  height: 300px;
  width: auto;
  left: 750px;
  top: 350px;
}

#comparepb:hover:focus {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#comparepgraph {
  position: absolute;
  width: 725px;
  height: 440px;
  top: 225px;
  left: 80px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  animation: slideup 0.5s ease-in-out;
  -webkit-animation: slideup 0.5s ease-in-out;
}

#compareplegend {
  position: absolute;
  height: 1000px;
  left: -160px;
  top: -100px;
}

#policyhistory {
  position: absolute;
  width: 56vw;
  height: 90vh;
  top: 5vh;
  left: 10vw;
  float: left;
}

.scale1 {
  position: absolute;
  left: 410px;
}

.textwrap {
  position: absolute;
  left: 55px;
  width: 50vw;
  height: 750px;
  top: -5px;
}

.ys {
  color: #2B2E34;
  font-size: 0.8rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 10px;
  padding-top: 0px;
  top: 0;
  left: 100px;
  color: #717171;
}

.ys::before {
  content: '';
  position: absolute;
  background-color: #2B2E34;
  width: 1px;
  height: 85vh;
  left: 10px;
  top: 10px;
}

.year {
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  color: #2B2E34;
}

#policy1960 {
  position: absolute;
  width: 17vw;
  right: 0px;
  top: 10px;
}

#policy1960 .year {
  position: absolute;
  top: 0;
}

#policy1960 .subtext {
  position: relative;
  top: 30px;
  width: 2vw;
  color: #717171;
}

#policy1973 {
  position: absolute;
  width: 17vw;
  top: 170px;
  right: 0;
}

#policy1973 .year {
  position: absolute;
  top: 0;
}

#policy1973 .subtext {
  position: relative;
  top: 30px;
  width: 2vw;
  color: #717171;
}

#policy1984 {
  position: absolute;
  top: 250px;
  width: 17vw;
  right: 0;
}

#policy1984 .year {
  position: absolute;
  top: 0;
}

#policy1984 .subtext {
  position: relative;
  top: 30px;
  width: 2vw;
  color: #717171;
}

#policy2002 {
  position: absolute;
  width: 17vw;
  top: 490px;
  right: 0;
}

#policy2002 .year {
  position: absolute;
  top: 0;
}

#policy2002 .subtext {
  position: relative;
  top: 30px;
  width: 2vw;
  color: #717171;
}

#policy2013 {
  position: absolute;
  width: 17vw;
  top: 580px;
  right: 0;
}

#policy2013 .year {
  position: absolute;
  top: 0;
}

#policy2013 .subtext {
  position: relative;
  top: 30px;
  width: 2vw;
  color: #717171;
}

#policy2015 {
  position: absolute;
  width: 17vw;
  top: 700px;
  right: 0;
}

#policy2015 .year {
  position: absolute;
  top: 0;
}

#policy2015 .subtext {
  position: relative;
  top: 30px;
  width: 2vw;
  color: #717171;
}

#fertilityrate {
  position: absolute;
  height: 670px;
  top: 16px;
  left: 350px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

#totalpopulation {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 670px;
  height: 370px;
  top: -170px;
  left: -440px;
  z-index: -1;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@keyframes slideleft {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

#pf {
  position: absolute;
  top: 80vh;
  left: 2vw;
}

#fine img {
  position: absolute;
  width: 50vw;
  top: 20vh;
  left: 10vw;
}

#s3topic {
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 15vw;
}

#variation {
  position: absolute;
  width: 55vw;
  left: 10vw;
  height: 90vh;
  top: 5vh;
}

#map {
  position: absolute;
  height: 90vh;
  width: auto;
  top: 0px;
  z-index: 3;
}

#education {
  position: absolute;
  width: 55vw;
  height: 90vh;
  top: 5vh;
}

#education img {
  position: absolute;
  height: 640px;
  left: 170px;
  top: 5vh;
  -webkit-transform-origin: right;
          transform-origin: right;
}

#graphtopic {
  position: absolute;
  left: 100px;
  width: 12vw;
}

.scale2 {
  position: absolute;
  left: 650px;
  height: 80vh;
  top: 6vh;
  color: #717171;
}

.scale2 .ys {
  top: 5vh;
  margin: 6px;
  color: #717171;
}

.scale2 .ys::before {
  height: 80vh;
}

.scaleh {
  position: absolute;
  left: 200px;
  width: 80vh;
  bottom: 0vh;
  color: #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: hotpink;
}

.scaleh .ys {
  top: 5vh;
  margin: 13.5px;
  color: #717171;
}

.scaleh .ys::before {
  position: absolute;
  left: -2.2vw;
  bottom: -50px;
  height: 1px;
  width: 60vh;
}

#labour {
  position: absolute;
  left: 10vw;
  top: 20vh;
  width: 45vw;
}

#iudlegend {
  position: absolute;
  top: 4vh;
  right: 34vw;
  width: 18vw;
}

#labourpic {
  position: absolute;
  left: 10vw;
  bottom: 30vh;
  width: 30vw;
}

#iudwrap {
  position: absolute;
  width: 90vw;
  left: 0;
  top: 5vh;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  z-index: 9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#s7text {
  position: absolute;
  width: 30vw;
  left: 57vw;
}

.scale3 {
  position: absolute;
  left: 450px;
  height: 130vh;
  top: 73px;
  width: auto;
}

.scale3 .ys {
  margin: 44px;
}

.scale3 .ys::before {
  height: 125vh;
  left: 25px;
}

#iudchart {
  width: 60vw;
  height: 90vh;
  position: absolute;
  top: 5px;
}

#iudchart img {
  position: absolute;
  height: 140vh;
  width: auto;
  left: 90px;
}

#s8text {
  width: 30vw;
  left: 57vw;
}

#iudpic img {
  position: absolute;
  left: 10vw;
  top: 5vh;
  height: 90vh;
}

#s9text {
  width: 30vw;
  left: 57vw;
  height: 90vh;
  right: 10vw;
  top: 5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#s10text {
  width: 30vw;
  left: 57vw;
}

#s11text {
  width: 30vw;
  left: 57vw;
}
/*# sourceMappingURL=data.css.map */