.grid{
    position: absolute;
    position:-webkit-sticky;
    /* display: grid; */
    display:none;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 10px; 
    grid-row-gap: 10px;
    border:1px solid orange;
    /* background-color: peru; */
    height:100vh;
    width:100vw;
     top:0;  
    left:0; 
    /* background:transparent;  */
    /* text-transform: uppercase;  */
    padding: 3vw;
    font-size: 40px;
    text-align: center;
    z-index: -5;
  }
  


  
.c1 {
    opacity: 0.2;
    /* position: relative; */
    grid-column: 1 /  13;
    grid-row: 1;
    background-color: gray;
  
  }
  
  .c2 {
    opacity: 0.2;
    grid-column: 6 /  12;
    grid-row: 2;
    background-color: gray;
  }
  
  .c3 {
    opacity: 0.2;
    grid-column: 1 /  5;
    grid-row: 3;
    background-color: gray;
  }
  
  .c4 {
    opacity: 0.2;
    grid-column:  5/  9;
    grid-row:  3;
    background-color: gray;
  }
  
  .c5 {
    opacity: 0.2;
    grid-column:  9/  13;
    grid-row:  3;
    background-color: gray;
  }
  
  .c6 {
    opacity: 0.2;
    grid-column:  1/  3;
    grid-row: 4;
    background-color: gray;
  }
  
  .c7 {
    opacity: 0.2;
    grid-column:  3/  5;
    grid-row: 4;
    background-color: gray;
  }
  
  .c8 {
    opacity: 0.2;
    grid-column:5 /  7;
    grid-row:  4;
    background-color: gray;
  }
  
  .c9 {
    opacity: 0.2;
    grid-column: 7/9;
    grid-row:4;
    background-color: gray;
  }
  
  .c10 {
    opacity: 0.2;
    grid-column:  1;
    grid-row:  5;
    background-color: gray;
  }
  
  .c11 {
    opacity: 0.2;
    grid-column:  2;
    grid-row: 5;
    background-color: gray;
  }
  
  .c12 {
    opacity: 0.2;
    grid-column: 3;
    grid-row: 5;
    background-color: gray;
  }
  .c13 {
    opacity: 0.2;
    grid-column: 1/2;
    grid-row: 5;
    background-color: gray;
  }
  .c14{
    opacity: 0.2;
    grid-column: 2/3;
    grid-row: 5;
    background-color: gray;
  }
  .c15{
    opacity: 0.2;
    grid-column: 3/4;
    grid-row: 5;
    background-color: gray;
  }
  .c16{
    opacity: 0.2;
    grid-column: 4/5;
    grid-row: 5;
    background-color: gray;
  }
  .c17{
    opacity: 0.2;
    grid-column: 5/6;
    grid-row: 5;
    background-color: gray;
  }
  .c18{
    opacity: 0.2;
    grid-column: 6/7;
    grid-row: 5;
    background-color: gray;
  }
  .c19{
    opacity: 0.2;
    grid-column: 7/8;
    grid-row: 5;
    background-color: gray;
  }
  .c20{
    opacity: 0.2;
    grid-column: 8/9;
    grid-row: 5;
    background-color: gray;
  }
  .c21{
    opacity: 0.2;
    grid-column: 9/10;
    grid-row: 5;
    background-color: gray;
  }
  .c22{
    opacity: 0.2;
    grid-column: 10/11;
    grid-row: 5;
    background-color: gray;
  }
  .c23{
    opacity: 0.2;
    grid-column: 12/13;
    grid-row: 5;
    background-color: gray;
  }


/* /////////////////////    Transition     /////////////////// */



@-webkit-keyframes menuslide {
    100% { left: -80px; }
}

@keyframes menuslide {
    100% { left: -80px; }
}
  @-webkit-keyframes slide {
    100% { left: -100px; }
}

@keyframes slide {
    100% { left: -100px; }
}
@-webkit-keyframes slide2 {
    100% { 
        left: 50px; 
        opacity: 1;}
}

@keyframes slide2 {
    100% { 
        left: 50px; 
        opacity: 1; }
}



@-webkit-keyframes slideup {
    100% { top: 71vh; opacity: 1; }
}

@keyframes slideup {
    100% { top: 71vh; opacity: 1;}
}




/* /////////////////////    Page     /////////////////// */
/* html{
    /* scroll-behavior: smooth; */
    /* margin:0;
    padding:0; */


body{
    /* position:fixed; */
	background-color:#e4e3e0;
    width: 100vw;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;

    margin:0; 
    padding:0; 
    /* background-image: url(asset/white-paper-texture-with-flecks.jpg); */
    /* background-repeat:repeat;
    background-size:100%;
    background-blend-mode: multiply; */
    overflow-x: hidden; 
    /* overflow-y: hidden;  */
}
/* body::after {
    content: "";
    background: url(asset/white-paper-texture-with-flecks.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: sticky;
    z-index: -4;   
  } */
#mycanvas{
    position: absolute; 
    /* position:-webkit-sticky; */
    top:0;
    
    display:block;
    width:100%;
    height:100%;
    /* left: 50; top: 50%; */
    z-index: 0;
  
}
 

.navigator{
    position:sticky;
    position: -webkit-sticky ;
    top:0;
    left:0;
    height:100vh;
    width:350px;
    z-index: 10;
}

.form{
	position: absolute;
    /* position: -webkit-sticky; */
	overflow:hidden;
	left: 0px;
    top: 0px;
    
    color:black;
	background-color: #e4e3e0;
	display:none;
    /* display: none; */
    transition: 0.5s;

    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: 5;
   
    /* padding-top: 5%; */
    
}


.year{
    position:absolute;
    bottom:5vh;
    left:21vw;
    font-family: kepler-std-display, serif;
    font-size: 12rem;
    font-weight: 300;
    font-style: italic;
    line-height: 12rem;
    z-index: 1;
   
    
}


.form1960s {
    position: absolute;
    color:black;
    cursor:pointer;
    opacity: 0;
    bottom: 65vh;
    left:-200px;
    transition: 0.5s ease-in;
    -webkit-transition:0.5s ease-in;
    -webkit-animation: slide2 0.5s forwards;
    animation: slide2 0.5s forwards;
    
}
.form1960s:hover{
    /* text-decoration: underline; */
    
    color:#aa3424;
    transition: color 0.2s ease-in-out;
    /* cursor:pointer; */
}
.form1970s {
    position: absolute;

    color:black;
    cursor:pointer;
    bottom:45vh;
    left:-200px;
    opacity: 0;
    /* transition-delay: 0.5s; */
    transition: 0.5s ease-in 0.2s;
    animation: slide2 0.5s forwards 0.2s;
    /* -webkit-transition-delay: 0.5s; */
    -webkit-transition:0.5s ease-in 0.2s;
    -webkit-animation: slide2 0.5s forwards 0.2s;
}
.form1970s:hover{
    /* text-decoration: underline; */
    
    color:#aa3424;
    transition: color 0.2s ease-in-out;
    /* cursor:pointer; */
}
.form1980s {
    position:absolute;
    color:black;
    color:black;
    cursor:pointer;
    opacity: 0;
    bottom:25vh;
    left:-200px;
    /* transition-delay: 1s; */
    transition: 0.5s ease-in 0.4s;
    animation: slide2 0.5s forwards 0.4s;
    /* -webkit-transition-delay: 1s; */
    -webkit-transition:0.5s ease-in 0.4s;
    -webkit-animation: slide2 0.5s forwards 0.4s;
}
.form1980s:hover{
    /* text-decoration: underline; */
    
    color:#aa3424;
    transition: color 0.2s ease-in-out;
    /* cursor:pointer; */
}
.form1990s{
    position:absolute;
    color:black;
    cursor:pointer;
    opacity: 0;
    bottom:5vh;
    left:-200px;
    transition: 0.5s ease-in 0.5s;
    /* transition-delay: 0.8s; */
    animation: slide2 0.5s forwards 0.5s;
    /* -webkit-transition-delay: 0.8s; */
    -webkit-transition:0.5s ease-in 0.5s;
    -webkit-animation: slide2 0.5s forwards 0.5s;
}
.form1990s:hover{
    /* text-decoration: underline; */
    
    color:#aa3424;
    transition: color 0.2s ease-in-out;
    /* cursor:pointer; */
}
.location{
    position:absolute;
    /* display:none; */
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    left:50vw;
    height:100vh;
    min-height: 600px;
    /* top:50px; */
    font-size: 3rem;
    z-index: 10;
    /* border:2px solid lightseagreen; */

}
.location1960s{
    display:none;
    position:absolute;
    left:-100px;
    bottom:72vh;
    cursor:pointer;
    transition: 0.5s ease-in;
    -webkit-transition:0.5s ease-in;
    -webkit-animation: slide2 0.5s forwards;
    animation: slide2 0.5s forwards;
    
   
}

.location1970s{
    display:none;
    position:absolute;
    left:-100px;
    bottom:52vh;
    cursor:pointer;
    transition: 0.5s ease-in;
    -webkit-transition:0.5s ease-in;
    -webkit-animation: slide2 0.5s forwards;
    animation: slide2 0.5s forwards;
}
    
.location1980s{
    display:none;
    position:absolute;
    bottom:32vh;  
    left:-100px;
    cursor:pointer;
    transition: 0.5s ease-in;
    -webkit-transition:0.5s ease-in;
    -webkit-animation: slide2 0.5s forwards;
    animation: slide2 0.5s forwards;
    
}
.location1990s{
    display:none;
    position:absolute;
    bottom:12vh; 
    left:-100px;
    cursor:pointer;
    transition: 0.5s ease-in;
    -webkit-transition:0.5s ease-in;
    -webkit-animation: slide2 0.5s forwards;
    animation: slide2 0.5s forwards;
}
.rural1960s{
    color:black;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor:pointer;
}
.rural960s:hover{
    color:#aa3424;
    border-bottom: 1px solid #aa3424;
    transition: 0.5s ease-in;
    -webkit-transition:0.5s ease-in;
}

.generate{
    cursor:pointer;
    position:absolute;
    bottom: 2vh;
    right:35px;
    font-size: 2em;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300;
    color:#aa3424;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #aa3424;
    background-color: transparent;
    transition: background 0.3s ease-in-out;

}
 .generate:hover{
    /* text-decoration: underline; */
    background-color:#aa3424;
    color:white;
    border-bottom: 1px solid white;
    cursor:pointer;

}

.form-back{
    position: absolute;
    top:15%;
    width:100px;
    height:100px;
    border:2px solid #aa3424;
    border-right: hidden;
    border-top: hidden;
    background-color: transparent;
    color:transparent;
    background: linear-gradient(
        to bottom right,
        transparent 0%,
        transparent calc(49% - 1px),
        #aa3424 50%,
        transparent calc(51% + 1px),
        transparent 100%
    );
    transition: background 0.3s ease-in-out;
    z-index: 6;
    
    
}
.form-back:hover{
    cursor:pointer;
    background: linear-gradient(
        to bottom right,
        #aa3424 0%,
        #aa3424 calc(49% - 1px),
        white 50%,
        #aa3424 calc(51% + 1px),
        #aa3424 100%

    );
    transform: scale(1.2);
    border:2px solid white ;
    border-right: hidden;
    border-top: hidden;
}


.menu{
   
    /* transform-origin: center; */


    position:fixed;
    height:100vh;
    width:150px;
    top: -10px;
    left:-100px;
    z-index: 8;
     display:block;
    transition: 0.5s ease-in;
    -webkit-animation: slide 0.5s forwards;
    animation: menuslide 0.5s forwards;
    /* color:#867472; */
    /* border: 5px solid rebeccapurple; */
    background-color: transparent;
   
    overflow:hidden;
}
.theonlychild{
    transform: rotate(-90deg);
    position: absolute ;
    height:30px;
    width:50px;
    top:10%;
    left:90px;
    cursor:pointer;
    font-size: 0.9rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    /* outline: none; */
    /* border-style: none; */
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #867472;
    background-color: transparent;
    color:#867472;
    cursor:pointer;
 
}
.realityGenerator{
    transform: rotate(-90deg);
    position: absolute ;
    height:30px;
    width:180px;
    left:25px;
    top:40%;
    cursor:pointer;
    font-size: 0.9rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    /* outline: none; */
    /* border-style: none; */
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #867472;
    color:#867472;
    background-color: transparent;
 

}
/* body img{
    position:sticky;
    position:-webkit-sticky;
    top:0;
    width:100%;
    height:100%;
    mix-blend-mode: multiply;
    opacity: 60%;
    z-index: -1;
} */



.realityGenerator:hover{
    /* text-decoration: underline; */
    background-color: #cccac6;
    transition: background 0.3s ease-in-out;
    
}
.menudata{
    transform: rotate(-90deg);
    position: absolute;
    height:30px;
    width:50px;
    left:90px;
    top:70%;
     z-index: 5; 
    cursor:pointer;
    font-size: 0.9rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #867472;
    color:#867472;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
}
.menudata:hover{
    /* text-decoration: underline; */
    background-color: #cccac6;
    transition: background 0.3s ease-in-out;
    
}


.menuabout{
    transform: rotate(-90deg);
    position: absolute ;
    height:30px;
    width:70px;
    top:90%;
    left:80px;
     z-index: 5; 
    cursor:pointer;
    font-size: 0.9rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #867472;
    color:#867472;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;


}
.menuabout:hover{
    /* text-decoration: underline; */
    background-color: #cccac6;
    transition: background 0.3s ease-in-out;}





.mainpagevideo{
    position:absolute;
    display:hidden;
    top:0;
    left:0;
    height:100vh;
    width:80vw;
    border: 3px solid black;
    background-color: #867472;
    z-index: -1;
}
.mainpagetext{
    position:absolute;
    left:500px;
    top:300px;
    font-family: kepler-std-extended-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}
/* ///////////////////     stories    //////////////////// */
.stories{
    width:100vw;
    display:none;
    
    /* height:200vh;
    overflow:auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}
.rural1960{
    position:absolute;
    display:none;
    width:50vw;
    height:100vh;
    top:0;
    left:0;
    /* z-index: -1; */
    /* background-color: lightgreen; */
  
}




.birth60{opacity: 0.4;}
.birth60 img{
    position: absolute;
    width:20vw;
    max-width: 300px;
    top:35vh;
    left:18vw;
    /* bottom:20vh; */
    height:auto;
    z-index: 1;
    /* transform:scale(0.3);
    -webkit-transform:scale(0.3); */
}
.bookcover60{opacity: 0.4;}
.bookcover60 img{
    position: absolute;
    width:18vw;
    max-width: 300px;
    top:38vh;
    left:27vw;

    z-index: dd1;
}
/* ////////bookcover text////// */
.sewingmachine{opacity: 0.4;}
.sewingmachine img{
    position: absolute;
    width:15vw;
    top:20vh;
    left:27vw;

    z-index: 1;

}
.birthticket{opacity: 0.4;}
.birthticket img{
    position:absolute;
    width:15vw;
    top:40vh;
    left:37vw;

    z-index: 1;
}
.sweater{opacity: 0.4;}
.sweater img{
    position:absolute;
    width:15vw;
    top:55vh;
    left:45vw;
    z-index: 1;
}
.herbalsoup{opacity: 0.4;}
.herbalsoup img{
    position:absolute;
    width:18vw;
    top:30vh;
    left:35vw;
    z-index: 1;
}

/* .dim-bg{
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.651); 
    z-index: -5; 
} */
/* ///////////     1970        //////////// */
/* .rural1970{
    position:absolute;
    display:block;
    width:50vw;
    height:100vh;
    top:0;
    left:0;
} */




/* //////////////////////////DATA//////////////////////////// */


.datapage{
    position: absolute;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    display:none;
}


.data-population{
    position: absolute;
    top:20vh;
    left:10vw;
    border:2px soild green;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:1em;
}
.c1axis{
    position:absolute;
    width: 40vw;
    top:0;
    left:0;

    display: block;
}
.c1graph{
    position:absolute;
    width:36vw;
    top:2.3vw;
    left:1.6vw;
    transform: scaleY(1);
    /* animation-delay: 0.2s; */
    transform-origin:bottom;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
animation-delay: 1s;
animation-duration: 1s;
  animation-name: graphAnimation;
  -webkit-animation-name:graphAnimation;
  -moz-animation-name: graphAnimation ;
  /* -o-animation: graphAnimation 1s forwards; */
    /* display: block; */
}
@keyframes graphAnimation {
    from{
        transform: scaleY(0);
         }
to{
    transform: scaleY(1);
   }
}
@-webkit-keyframes graphAnimation {
    from{
        transform: scaleY(0);
        }
to{
    transform: scaleY(1);
  }
}


.g1-topic{
    transform-origin: center;
    position: absolute;
    width:200px;
    top:400px;
    left:250px;
}

.world-population{
    position: absolute;
    top:50vh;
    left:0vw;

}
.c2axis{
    position:absolute;
    width: 40vw;
    top:0;
    left:0;

    display: block;
}

.c2{  
    position:absolute;
    width:37.3vw;
    top:4.7vw;
    left:1.6vw;
    transform: scaleY(1);
    /* animation-delay: 0.2s; */
    transform-origin:bottom;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
animation-delay: 1s;
animation-duration: 1s;
  animation-name: graphAnimation;
  -webkit-animation-name:graphAnimation;
  -moz-animation-name: graphAnimation ;
  /* -o-animation: graphAnimation 1s forwards; */
    /* display: block; */
}



.buttons{
    position:absolute;

    left:70vw;
    top:30vh;
    background-color: transparent;
}
.cppopulation{
    position: absolute;
    top:30px;
    left:0;
}
.totalpopulation{
    position: absolute;
    top:60px;
    left:0;
}
.cpfertility{
    position:relative;
    top:0px;
}
.verticalgraph{
    position:absolute;
    top:700px;
    left:3vw;

}

.policyhistory{
    position:absolute;
    top:11px;
    left:835px;

    
}
.policy1960{
    position:absolute;
    top:18px;
    width:300px;
}
.policy1973{
    position:absolute;
    top:0px;
    width:300px;
}
.policy1984{
    position:absolute;
    top:135px;
    width:300px;
}
.policy2002{
    position:absolute;
    top:370px;
    width:300px;
}
.policy2013{
    position:absolute;
    top:510px;
    width:300px;
}
.policy2015{
    position:absolute;
    top:535px;
    width:300px;
}
.policy1960 .year{
    position:absolute;
    top:0;
    left:-140px;
    font-size: 1.3rem;
    font-family: kepler-std-display, serif;
    font-weight: 500;
    font-style: normal;

}
.policy1960 .year::before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 130px;
    margin: 5px;
    transform: translateY(0px);
    
}
.policy1960 .text{
    position:absolute;
    top:30px;
    left:0;
    font-size: 0.8em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;

}

.policy1973 .year{
    position:absolute;
    top:185px;
    left:-140px;
    font-size: 1.3rem;
    font-family: kepler-std-display, serif;
    font-weight: 500;
    font-style: normal;
}
.policy1973 .year::before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 130px;
    margin: 5px;
    transform: translateY(0px);
    
}
.policy1973 .text{
    position:absolute;
    top:220px;
    left:0;
    font-size: 0.8em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.policy1984 .year{
    position:absolute;
    top:175px;
    left:-140px;
    font-size: 1.3rem;
    font-family: kepler-std-display, serif;
    font-weight: 500;
    font-style: normal;
}
.policy1984 .year::before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 130px;
    margin: 5px;
    transform: translateY(0px);
    
}
.policy1984 .text{
    position:absolute;
    top:220px;
    left:0;
    font-size: 0.8em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
}

.policy2002 .year{
    position:absolute;
    top:190px;
    left:-140px;
    font-size: 1.3rem;
    font-family: kepler-std-display, serif;
    font-weight: 500;
    font-style: normal;
}
.policy2002 .year::before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 130px;
    margin: 5px;
    transform: translateY(0px);
    
}
.policy2002 .text{
    position:absolute;
    top:220px;
    left:0;
    font-size: 0.8em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.policy2013 .year{
    position:absolute;
    top:190px;
    left:-140px;
    font-size: 1.3rem;
    font-family: kepler-std-display, serif;
    font-weight: 500;
    font-style: normal;
}
.policy2013 .year::before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 130px;
    margin: 5px;
    transform: translateY(0px);
    
}
.policy2013 .text{
    position:absolute;
    top:220px;
    left:0;
    font-size: 0.8em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.policy2015 .year{
    position:absolute;
    top:190px;
    left:-50px;
    font-size: 1.3rem;
    font-family: kepler-std-display, serif;
    font-weight: 500;
    font-style: normal;
}
.policy2015 .year::before {
    display: inline-block;
    content: "";
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    height:90px;
    width: 40px;
    margin: 5px;
    transform: translateY(0px);
    
}
.line2015{
    position:absolute;
    border-top: 2px solid black;
    top:195px;
    left:-135px;
    /* border-left: 2px solid black; */
    /* height:90px; */
    width: 90px;
    /* margin: 5px; */
}

.policy2015 .text{
    position:absolute;
    top:300px;
    left:0;
    font-size: 0.8em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
}
/* 
svg{
    position: absolute;
    width:90vw;
    border:2px solid #f9823b;
    left:2vw;
} */

.about{

    position: absolute;

	left: 0;
    top: 0;
    right:0;
	z-index: 6;
	font-size: 1em;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
	background-color: #e5e4e1;
	
	border-right: 1px solid black;
    display: none;
    transition: 0.5s;

    width: 350px;
    height: 100vh;
    padding-left: 2%;
    padding-top: 5%;
    
}
.about-topixc{
    position:absolute;
}
.about-text{
    position:absolute;
    /* left:2%; */
    width:330px;
    bottom:40vh;
}
.about-back{
    position: absolute;;
    top:15%;
    width:100px;
    height:100px;
    border:1px solid black;
    border-right: hidden;
    border-top: hidden;
    background-color: transparent;
    color:transparent;
    background: linear-gradient(
        to bottom right,
        transparent 0%,
        transparent calc(50% - 1px),
        black 50%,
        transparent calc(50% + 1px),
        transparent 100%
    );
    transition: background 0.3s ease-in-out;
    
    
}
.about-back:hover{
    cursor:pointer;
    background: linear-gradient(
        to bottom right,
        #cccac6 0%,
        #cccac6 calc(50% - 1px),
        black 50%,
        #cccac6 calc(50% + 1px),
        #cccac6 100%

    );
    transform: scale(1.2);
  
    

}