.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #3a3631;
  z-index: -3;
}

#fullpage1960 {
  position: relative;
  height: 100%;
  width: 100vw;
  margin: 0;
  z-index: 1;
  display: block;
}

h1 {
  position: absolute;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  text-align: right;
  left: 20%;
  display: none;
  /* top:40%; */
}

.section {
  width: 100vw;
  right: 0vw;
  /* transform:scale(2); */
  /* display: inline; */
  /* transform-origin: center right; */
  text-align: right;
  margin: 0;
  float: right;
  z-index: -3;
}

.s2 {
  /* display:inline-flex; */
  width: 100vw;
  z-index: 2;
  text-align: right;
  z-index: 2;
}

.p2 {
  height: 90vh;
  margin: 0;
}

.p3 {
  height: 90vh;
}

.p4 {
  height: 90vh;
}

.p5 img {
  height: 90vh;
}

#s6-1960 h {
  position: absolute;
  width: 60vh;
  top: 50vh;
  right: 9vw;
  z-index: 4;
  font-size: 5vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #2B2E34;
  text-align: left;
}

#s6-1960 h #b1 {
  cursor: pointer;
  border-bottom: 2px solid #2B2E34;
  z-index: 8;
}

#s6-1960 h #b1:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s6-1960 h #b2 {
  cursor: pointer;
  border-bottom: 2px solid #2B2E34;
}

#s6-1960 h #b2:hover {
  color: #aa3424;
  border-bottom: 2px solid #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.p6 {
  height: 90vh;
  z-index: 5;
  display: block;
  float: right;
}

.p7girl {
  position: absolute;
  right: 0;
  height: 90vh;
  top: 5vh;
  z-index: 5;
  float: right;
}

.p7boy {
  height: 90vh;
  z-index: 5;
  display: none;
  float: right;
}

#s7text1960 {
  position: absolute;
  width: 60vh;
  top: 19vh;
  right: 5vh;
  z-index: 4;
  font-size: 5vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #2B2E34;
  text-align: left;
  z-index: 7;
  display: none;
}

#girls7 {
  color: #2B2E34 !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #2B2E34;
}

#girlsoup {
  font-size: 5vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #2B2E34;
  text-align: left;
  position: absolute;
  width: 50vh;
  top: 90vh !important;
  color: #2B2E34;
  z-index: 8;
  background-color: olive;
  border: chocolate;
}

#s7text1960 {
  position: absolute;
  right: -2vh;
}

#pour {
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #2B2E34;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 8;
  text-decoration: underline;
}

#pour:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#drink {
  font-size: 4vh;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
  color: #2B2E34;
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 8;
  text-decoration: underline;
}

#drink:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#boyiud {
  height: 90vh;
  z-index: 5;
  display: none;
  float: right;
}

.p6 {
  height: 90vh;
  z-index: 5;
  display: block;
  float: right;
}

.p8drink {
  height: 90vh;
  z-index: 5;
  display: none;
  float: right;
}

.p8pour {
  height: 90vh;
  z-index: 5;
  display: none;
  float: right;
}

.p9 {
  height: 90vh;
  z-index: 5;
  float: right;
}

#p9lastpage {
  display: none;
}

#p9lastpage #s9text {
  position: absolute;
  top: 70vh;
}

#p9lastpage a {
  left: 9.5vw;
  width: 32vh;
  position: absolute;
  color: #2B2E34;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vh;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

#p9lastpage a:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.p10 {
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  z-index: 5;
  float: right;
}

#s10-1960 {
  display: none;
  float: right;
}

#s11-1960 {
  display: none;
  float: right;
  height: 90vh;
  width: 90vw;
  float: right;
}

#s9text {
  position: absolute;
  top: 70vh;
  text-align: left;
}

#s9text a {
  left: 9.5vw;
  width: 32vh;
  position: absolute;
  color: #2B2E34;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vh;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

#s9text a:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s11text {
  position: absolute;
  top: 70vh;
  text-align: left;
}

#s11text a {
  left: 9.5vw;
  width: 32vh;
  position: absolute;
  color: #2B2E34;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vh;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

#s11text a:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.photo1960-1 {
  position: absolute;
  width: 63vw;
  height: 120vh;
  left: 0;
}

#withmom {
  position: absolute;
  top: 20vh;
  left: 12vw;
  width: 60vh;
  display: none;
  z-index: -1;
}

#sister {
  position: absolute;
  width: 21vw;
  bottom: 50vh;
  left: 12vw;
  z-index: -1;
  opacity: 0.1;
}

#s2photo {
  position: absolute;
  width: 32vw;
  bottom: 5vh;
  left: 12vw;
  z-index: -1;
  opacity: 0.1;
}

#s3photo {
  position: absolute;
  width: 32vw;
  bottom: 5vh;
  left: 12vw;
  z-index: -1;
}

#s5photo {
  position: absolute;
  width: 22vw;
  height: 90vh;
  top: 5vh;
  left: 12vw;
  z-index: -1;
  text-align: left;
}

#s5photo #s5-1986 {
  position: relative;
  top: 5vh;
  width: 32vw;
}

#s5photo h {
  position: relative;
  top: 5vh;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: #e4e3e0;
}

#s5photo h nobr {
  font-family: fz-shu-song-gb18030, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.s5-1986 {
  position: relative;
  top: 5vh;
  width: 32vw;
  opacity: 0.1;
}

#s6chart {
  position: absolute;
  width: 32vw;
  top: 23vh;
  left: 12vw;
  z-index: -1;
}

#charttext {
  position: absolute;
  width: 40vw;
  height: 38.5vh;
  left: 0;
  top: 50vh;
  z-index: -2;
  background-color: #A89A8F;
  text-align: left;
  padding: 3vw;
}

#charttext h {
  position: absolute;
  width: 20vw;
  top: 10vh;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  left: 12vw;
}

#charttext h a {
  color: #2B2E34;
}

#charttext h a:hover {
  color: #aa3424;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#s9subtext {
  position: absolute;
  display: none;
  width: 20vw;
  text-align: left;
}

#s9subtext h {
  position: relative;
  left: 12vw;
  top: -3vh;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: #e4e3e0;
}

#s9subtext h nobr {
  font-family: fz-shu-song-gb18030, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

#delivery {
  position: relative;
  width: 32vw;
  left: 12vw;
  top: -3vh;
  z-index: -1;
}

.delivery {
  opacity: 0.1;
}

.storyyear {
  position: absolute;
  left: 13vw;
  bottom: 5vh;
  font-size: 1rem;
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 300;
  kerning: auto;
  color: #c5b8b2;
  z-index: 8;
  /* transform: rotate(90deg); */
}

.stories {
  width: 100vw;
  /* display:none; */
  /* height:200vh;
    overflow:auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

.rural1960 {
  position: absolute;
  /* display:none; */
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* z-index: -1; */
  /* background-color: lightgreen; */
}

.birth60 {
  opacity: 0.4;
}

.birth60 img {
  position: absolute;
  width: 20vw;
  max-width: 300px;
  top: 35vh;
  left: 18vw;
  /* bottom:20vh; */
  height: auto;
  z-index: 1;
  /* transform:scale(0.3);
    -webkit-transform:scale(0.3); */
}

.bookcover60 {
  opacity: 0.4;
}

.bookcover60 img {
  position: absolute;
  width: 18vw;
  max-width: 300px;
  top: 38vh;
  left: 27vw;
  z-index: dd1;
}

/* ////////bookcover text////// */
.sewingmachine {
  opacity: 0.4;
}

.sewingmachine img {
  position: absolute;
  width: 15vw;
  top: 20vh;
  left: 27vw;
  z-index: 1;
}

.birthticket {
  opacity: 0.4;
}

.birthticket img {
  position: absolute;
  width: 15vw;
  top: 40vh;
  left: 37vw;
  z-index: 1;
}

.sweater {
  opacity: 0.4;
}

.sweater img {
  position: absolute;
  width: 15vw;
  top: 55vh;
  left: 45vw;
  z-index: 1;
}

.herbalsoup {
  opacity: 0.4;
}

.herbalsoup img {
  position: absolute;
  width: 18vw;
  top: 30vh;
  left: 35vw;
  z-index: 1;
}
/*# sourceMappingURL=1960rural.css.map */