




///////////////////////////////////////////////1

#p1quote{
    top:50vh;
}

///////////////////////////////////////////////2
#s2-1970{
    overflow-y: scroll;
    overflow-x:hidden;
}
#s2wrap{
    width:80vw;
    height:80vh;
}
#p2text1{
    position: relative;
    left:0;
    top:0;
    
}
#p2text2{
    position: relative;
    left:0;
    top:10vh;
}
#p2quote{
    position: relative;
    width:80vw;
    left: 0vw;
    top:3vh;

}
/////////////////////////////////////////////// 4

#p4text1{
    position: relative;
    left:0;
    top:0;
}
#p4quote{
    position: relative;
    top:3vh;
    left:-10vw;
    font-size: 3rem;

}
#p4text2{
    position: relative;
    
    left:0;
    top:3vh;
}

/////////////////////////////////////////////// 5

#p5text1{
    position: relative;
    top:0;
    left:0;
}
#p5quote{
    position: relative;
    top:5vh;
    left:-10vw;
}
#p5text2{
    position: relative;
    top:5vh;
    left:0;
}

/////////////////////////////////////////////// 6




    #b1{
        text-decoration: underline;
        cursor: pointer;
        left:80px;
        // border-bottom: 2px solid #2B2E34;
        z-index: 8;

}
#b1:hover{
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
#b2{
    text-decoration: underline;
    cursor: pointer;
    left:140px;
    z-index: 8;
    // border-bottom: 2px solid  #2B2E34;
}
#b2:hover{
    color:#aa3424;
    // border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}




.p6 {
    height:90vh;
    z-index: 5;
    display:block;
    float: right;

}
#p6quote{
    top:50vh;
}


/////////////////////////////////////////////// 7
#p7quote{
    position: absolute;
    top:18vh;
    
}
#p7text1{
    position: absolute;
    top:25vh;
    width:65vw;
}
#p7girlquote{
    position: absolute;
    top:5vh;
    color:#717171;
    #s7girl{
        position: absolute;
        left:0px;
   
    }
    #s7boy{
        position: absolute;
        left:55px;
       
    }
}
.p7girl{
 
    display:none;

    

}
.p7boy{

    display:none;
  
}




#pour{
position: absolute;
 left: 0;
 top:60vh;
    text-align:left;
    cursor: pointer;
    background-color: transparent;
    // border-top: none; border-left: none;border-right: none;
    // border-bottom: 2px solid #2B2E34;
    border:none;
    z-index: 8;
    width:150px;
    text-decoration:underline;
}
#pour:hover{
color:#aa3424;
// border-bottom: 2px solid #aa3424;
transition: color 0.2s ease-in-out;
}
#drink{
    position: absolute;
    top:60vh;
    width:150px;
left:100px;
    text-align:left;
    cursor: pointer;
    // border-top: none; border-left: none;border-right: none;
    // border-bottom: 2px solid #2B2E34;
    border:none;
    background-color: transparent;
    z-index: 9;
    text-decoration: underline;
}
#drink:hover{
color:#aa3424;
// border-bottom: 2px solid #aa3424;
transition: color 0.2s ease-in-out;
}

#p7boytext1{
    position: relative;
    top:0;
    left:0;

}
#p7boyquote{
    position: relative;
    left:-10vw;
    top:5vh;
}
#p7boytext2{
    position: relative;
    left:0;
    top:10vh;
}

/////////////////////////////////////////////// 8
#boyiud{
overflow: hidden;
display:none;

}
#p8text1{
    position: relative;
    top:0;
    left:0;

}
#p8quote{
    position: relative;
    left:-10vw;
    top:3vh;
    width:35vw;
}

#p8text2{
    position: relative;
    top:15vh;
    left:0;

}


.p8drink{
    height:90vh;
    z-index: 5;
    display:none;
    float: right;
}

#p8pour{
    display: none;
}

#p8pourtext1{
    position: relative;
    width:75vw;
    top:0;
    left:0;
}
#p8pourquote{
    position: relative;
    left:-10vw;
    top:5vh;
    width:75vw;
}

#p8pourtext2{
    position: relative;
    top:5vh;
    left:0;

}
#p8dp{
    position: absolute;
    top:10vh;
    left:0px;
}

#p8dd{
    position: absolute;
    top:10vh;
    left:110px;
}

/////////////////////////////// 9
#p9lastpage{
    display: none;
    #s9text{
        position: absolute;
        top:70vh;
    }
    a{
        
        left:9.5vw;
        width:32vh;
        position: absolute;
        color:#2B2E34;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:1.8vh;
        text-align: left;
        text-decoration: underline;
        cursor:pointer;


    }
    a:hover{
        color:#aa3424;
        transition: color 0.2s ease-in-out;
    }
}
.p10{
    position: absolute;
    top:5vh;
    right:0;
    height:90vh;
    z-index: 5;
    // display:none;
    float: right;
}



#s10-1960{
    display:none;
    float:right;
    // border: 3px solid saddlebrown;
}
#s11-1960{
    display: none;
    // position: absolute;
    float:right;
    height:90vh;
    width:90vw;
    float:right;
}
#s9text{
    position: absolute;
    top:70vh;
    text-align: left;
    a{
        
        left:9.5vw;
        width:32vh;
        position: absolute;
        color:#2B2E34;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:1.8vh;
        text-align: left;
        text-decoration: underline;
        cursor:pointer;


    }
    a:hover{
        color:#aa3424;
        transition: color 0.2s ease-in-out;
    }

}

#last1{
    position: absolute;
   bottom:20vh;
    width:50vw;
    height: 10vh;
    left:0;
    z-index: 8;
}
    
    #last1:hover{
        color:#aa3424;
        transition: color 0.2s ease-in-out;
    }
    #last2{
        position: absolute;
       bottom:16vh;
        width:50vw;
        height: 10vh;
        left:0;
        z-index: 8;
    }
        
        #last2:hover{
            color:#aa3424;
            transition: color 0.2s ease-in-out;
        }


/////////////////////////////photo//////////////////
.frame{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 0;
}

//////////////////////////////////////// SECTION 1
.photo1960-1{
    position:absolute;
    width:63vw;
    height:120vh;
    left:0;
    // background-color: turquoise;
    // z-index: ;

}

#withmom{
    position:absolute;
    top:20vh;
    left:12vw;
    width:60vh;
    display: none;
    opacity: 1;
    // height:300px;
    // border:3px solid palevioletred;
    z-index: -1;
}

//////////////////////////////////////// SECTION 2
#sister{
    position: absolute;
    width:21vw;
    bottom:50vh;
    left:12vw;
    z-index: -1;
    opacity: 0.1;
}
#s2photo{
    position: absolute;
    width:32vw;
    bottom:5vh;
    left:12vw;
    z-index: -1;
    opacity: 0.1;
}
//////////////////////////////////////// SECTION 3
#s3photo{
    position: absolute;
    width:32vw;
    bottom:5vh;
    left:12vw;
    z-index: -1;
}
//////////////////////////////////////// SECTION 5
#s5photo{
    position:absolute;
    width: 22vw;
    height:90vh;
    top:5vh;
    left:12vw;
    z-index: -1;
    text-align: left;

    #s5-1986{
        position: relative;
        top:5vh;
        width:32vw;
    }
    h{
        position:relative;
        top:5vh;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:0.8rem;
        color: #e4e3e0;
        
        // border:3px solid cornflowerblue;
       
    nobr{
        font-family: fz-shu-song-gb18030, serif;
        font-weight: 400;       
        font-style: normal;
        font-size:0.8rem;
    }
    }
}

.s5-1986{
     position: relative;
        top:5vh;
        width:32vw;
    opacity: 0.1;}
//////////////////////////////////////// SECTION 6
#s6chart{
    position: absolute;
    width:40vw;
    top:10vh;
    left:12vw;
    z-index: 1;
}

#charttext{
    position:absolute;
    width:40vw;
    height:38.5vh;
    left:0;
    top:40vh;
    z-index: -2;
    // background-color: #A89A8F;
    text-align: left;
    padding:3vw;
    h{
        position:absolute;
        width:30vw;
        top:10vh;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:0.8rem;
        left:12vw;
        a{
            color: #e4e3e0;
        }
        a:hover{
            color:#aa3424;
            transition: color 0.2s ease-in-out;
        }
    }
}

//////////////////////////////////////// SECTION 9
#s9subtext{
    position:absolute;
    display:none;
    width:20vw;
    text-align: left;


    h{
        position:relative;
        left:12vw;
        top:-3vh;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:0.8rem;
        color: #e4e3e0;
        
        // border:3px solid cornflowerblue;
       
    nobr{
        font-family: fz-shu-song-gb18030, serif;
        font-weight: 400;       
        font-style: normal;
        font-size:0.8rem;
    }
    }
}
#delivery{
    position:relative;
    width:32vw;
    left:12vw;
    top:-3vh;
    z-index: -1;
}
.delivery{opacity: 0.1;}



.stories{
    width:100vw;
    /* display:none; */
    
    /* height:200vh;
    overflow:auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}




.birth60{
    position: absolute;
    width:35vw;
    // top:3vh;
    // left:50vw;
    opacity: 1;
    /* bottom:20vh; */
    height:auto;
    z-index: 1;
    /* transform:scale(0.3);
    -webkit-transform:scale(0.3); */
}

// .birth60 img{opacity: 1;}
.birth60 img{
    position: absolute;
    width:35vw;
    // max-width: 300px;
    top:3vh;
    left:50vw;
    /* bottom:20vh; */
    height:auto;
    // z-index: 1;
    /* transform:scale(0.3);
    -webkit-transform:scale(0.3); */
}
.bookcover60{opacity: 0.4;}
.bookcover60 img{
    position: absolute;
    width:18vw;
    max-width: 300px;
    top:38vh;
    left:27vw;

    z-index: dd1;
}
/* ////////bookcover text////// */
.sewingmachine{opacity: 0.4;}
.sewingmachine img{
    position: absolute;
    width:45vw;
    top:5vh;
    left:27vw;

    z-index: 1;

}
.birthticket{opacity: 0.4;}
.birthticket img{
    position:absolute;
    width:60vw;
    top:5vh;
    left:37vw;

    z-index: 1;
}
.sweater{opacity: 0.4;}
.sweater img{
    position:absolute;
    width:15vw;
    top:55vh;
    left:45vw;
    z-index: 1;
}
.herbalsoup{opacity: 0.4;}
.herbalsoup img{
    position:absolute;
    width:55vw;
    top:10vh;
    left:35vw;
    z-index: 1;
}

// .dim-bg{
//     width:100vw;
//     height:100vh;
//     background-color: rgba(0, 0, 0, 0.651); 
//     z-index: -5; 
// }




//////////////////////////////////////  menu
@-webkit-keyframes menuslide {
    100% { left: -80px; }
}

@keyframes menuslide {
    100% { left: -80px; }
}

.icons{
    display: none;
}
// .menu{
//     display: none;
// }
// .navigator-v{
//     display: block;
//     position: absolute;
//     z-index: 10;
//   background-color: #aa3424;
// }
.menu-v{
   
    // transform-origin: left;
overflow:hidden;

    position:absolute;
    height:100vh;
    width:50vw;
    top: 0px;
    left:0px;
    // z-index: ;
     display:block;
    transition: width 0.5s ease-in;
    -webkit-animation: menuslide 0.5s forwards;
    animation: menuslide 0.5s forwards;
    color:#867472; 
    //  border: 5px solid rebeccapurple; 
    // background-color: #D9D9D1;
    border:3px solid #aa3424;
    /* border:3px solid red; */
    z-index: 8;
    padding: 2vw;
  

    @-webkit-keyframes slideright {
        0%{ left: 20vw;}
        100% { left: 40vw; opacity: 1; }
    }
    
    @keyframes slideright {
        0%{ left: 20vw;}
        100% { left: 40vw; opacity: 1;}
    }
    

}
.theonlychild-v{
    //  transform: rotate(-90deg); 
    display:none;
    position:absolute ;
    height:25px;
    width:45px;
    top:10vh;
    left:0vw;
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300 ;
    font-style: normal;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #425C6D;
    background-color: transparent;
    color:#425C6D;
    cursor:pointer;
    text-decoration: none;

    -webkit-animation: slideright 0.5s forwards 0.1s;
    animation: slideright 0.5s forwards 0.1s;
    // text-align: center;
 
    z-index: 8;
}
.theonlychild-v:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.realityGenerator-v{
    display:none;
    /* transform: rotate(-90deg); */
    position: absolute;
    height:25px;
    width:130px;
    left:0vw;
    top:15vh;
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    /* outline: none; */
    /* border-style: none; */
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #425C6D;
    color:#425C6D;
    background-color: transparent;
    text-decoration: none;
    -webkit-animation: slideright 0.5s forwards 0.2s;
    animation: slideright 0.5s forwards 0.2s;
    // text-align: center;

}
.realityGenerator-v:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.menudata-v{
    /* transform: rotate(-90deg); */
    display:none;
    position: absolute;
    height:25px;
    width:40px;
    left:0vw;
    top:20vh;
     z-index: 8; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #425C6D;
    color:#425C6D;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    transform-origin: left;
    -webkit-animation: slideright 0.5s forwards 0.3s;
    animation: slideright 0.5s forwards 0.3s;
    // text-align: center;
}
.menudata-v:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
    
}
.menuabout-v{
    /* transform: rotate(-90deg); */
    display:none;
    position: absolute;
    height:25px;
    width:50px;
    top:25vh; 
    left:0vw;
     z-index: 8; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #425C6D;
    color:#425C6D;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    // text-align: center;
    transform-origin: left;
    -webkit-animation: slideright 0.5s forwards 0.4s;
    animation: slideright 0.5s forwards 0.4s;

}
.menuabout-v:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}

#close{
    position: absolute;
    display: none;
    width:10px;
    height:10px;
    color:#425C6D;
    left:3vw;
    top:3.5vh;
    z-index: 15;
   
    border: none;
    background-color: transparent;
    // padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
}


#instagram{
    display:none;
    position: absolute;
    height:25px;
    width:70px;
    bottom:15vh; 
    left:0vw;
     z-index: 12; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #425C6D;
    color:#425C6D;
    background-color: transparent;
    /* display:none; */
    // cursor:pointer;
    text-decoration: none;
    // text-align: center;
    
    // transform-origin: left;
    -webkit-animation: slideright 0.5s forwards 0.5s;
    animation: slideright 0.5s forwards 0.5s;
}
#instagram:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
#portfolio{
    display:none;
    position: absolute;
    height:25px;
    width:55px;
    bottom:20vh; 
    left:-50vw;
     z-index:10; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #425C6D;
    color:#425C6D;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    // text-align: center;
    transform-origin: left;
    -webkit-animation: slideright 0.5s forwards 0.5s;
    animation: slideright 0.5s forwards 0.5s;
}
#portfolio:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}

.email{
    display:none;
    position: absolute;
    height:25px;
    width:180px;
    bottom:10vh; 
    left:-50vw;
     z-index: 5; 
    cursor:pointer;
    font-size: 1rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 300 ;
    kerning: auto;
    outline: none;
    border-style: none;
    border-top: none;
    border-left:none;
    border-right:none;
    // border-bottom: 1px solid #425C6D;
    color:#425C6D;
    background-color: transparent;
    /* display:none; */
    cursor:pointer;
    text-decoration: none;
    // text-align: center;
    transform-origin: left;
    -webkit-animation: slideright 0.5s forwards 0.55s;
    animation: slideright 0.5s forwards 0.55s;
}

.home{
    position: absolute;
    display: block;
   top:5vh;
   left:5vw; 
   z-index: 11;
   button{
       position: absolute;
       top: 0;
       left:0;
    background-color:transparent;
  border: none;
  color: white;
  padding: 0px 0px;
  font-size: 16px;
  cursor: pointer;
  transform-origin: top center;
  z-index: 11;
}
   


}

.storyyear{
    display: none;
}
