body{
    background-color: #3a3631;
}
#fullpage1970{
    position: relative;
    height:100%;
    width:100vw;
    margin:0;
    z-index: 1;
    // display: none;
    // overflow-y: hidden;
    
    // scroll-behavior: smooth;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type:y mandatory;
}

.section{
    // position:relative;
    width:100vw;
    right:0vw;
    // z-index: 2;
    /* transform:scale(2); */
    /* display: inline; */
     /* transform-origin: center right; */
     text-align: right;
     margin:0;
     float: right;

   
        // background-color: black;
        // background-color: rgba(0, 0, 0, 0.651);  

        z-index: -3;
    }
    h1{
    
        position: absolute;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size:3em;
        text-align: right;
        left:20%;
        /* top:40%; */
        
    }

    .subtext{
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:0.8rem;
        color: #c5b8b2;
        
    }
/////////////////////////////dection 1 
.p1{
    /* position:absolute; */
    margin:0;
    right:0vw;
    height:90vh;
    z-index: 5;
}
#movie{
    position: absolute;
    width:30vw;
    left:12vw;
    top:40vh;
}
#bgmovie{
    position: absolute;
    width:30vw;
    left:12vw;
    top:40vh;
    opacity: 0.05;
}
/////////////////////////////dection 2

#s2button{
    position:absolute;
    right: 32.7vw;
    top:60vh;
    height:2.2vh;
    font-size: 1.6vh;
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 400;
    font-style: normal;
    background-color: transparent;
    color:#2B2E34;
    border-bottom: 1px solid #2B2E34;
    text-align:left;
    cursor: pointer;
    z-index: 4;

}
.s2page{
    position: absolute;
    top:5vh;
   right: 0;
    width:100vh;
    height:90vh;
    overflow-y: auto ;
    overflow-x: hidden ;
    // background-color: turquoise;
    // border: 3px solid red;
    z-index: 9;
    
}

.p2{
    position: absolute;
    width:62.5vh;;
    margin:0;
    border: 3px solid red;
    top:5vh;
    right: 10vw;
    overflow-y: auto ;
    overflow-x: hidden ;
    // top:5vh;
}
.p2 img{
    width:35vw;
}

#s2button:hover{
    color:#aa3424;
    border-bottom: 2px solid #aa3424;
    transition: color 0.2s ease-in-out;
}
#s2-1991{
    position: absolute;
    width:40vw;
    left:10vw;
    bottom:5vh;
}
#bg-1991{
    position: absolute;
    width:40vw;
    left:23vw;
    bottom:5vh;
    opacity: 0.05;
}
#s2text{
    position: absolute;
    width:22vw;
    height:40vh;
    display: inline-block;
    // border: 3px solid red;
    text-align: left;
    left:10vw;
    top:26vh;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:0.8rem;
    color: #c5b8b2;
}
.p2{
    overflow-y: auto;
}
/////////////////////////////dection 3
.p3{
    height:90vh;
    float: right;
}  
#上环证{
    position: absolute;
    left:10vw;
    top:25vh;
    width:20vw;
}
#上环证text{

    width:22vw;
    position: absolute;
    height:12vh;
    left:10vw;
    bottom:36vh;
    text-align: left;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:0.8rem;
    color: #c5b8b2;
    z-index: 5;
}
/////////////////////////////dection 4
.p4{
    // position: absolute;
    // top:10vh;
   
    height:90vh;
}

#s6text{    
    position: absolute;
    top:72vh;
    width:30vw;
    text-align: left;
    right:16.5vw;
    display:block;
    z-index: 9;
    // border:3px solid  red;
}
.lastlink{
    
    left:9.5vw;
    width:32vh;
    position: absolute;
    color:#2B2E34;
    font-family: neue-haas-unica, sans-serif;

    font-weight: 400;
    font-style: normal;
    font-size:1.8vh;
    text-align: left;
    text-decoration: underline;
    cursor:pointer;
    z-index: 5;


}
.lastlink:hover{
    color:#aa3424;
    transition: color 0.2s ease-in-out;
}
