/* desktop:1200px;
laptop:1024px;
tablet:768px;
phone:480px; */



/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 2 5%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
/* * {box-sizing: border-box} */



/* .box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

  .wrapper {
    width: 99vw;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(6, 15%);
    border:1px solid #000;
    /* margin-bottom: 2em; */
    /* bottom:0px;
  }

.with-height {
  height: 400px;
} */ 






#mycanvas{
    position: fixed; 
    /* top:0; */
    
    display:block;
    width:90vw;
    height:90vh;
    /* left: 50; top: 50%; */
    overflow: hidden;
    z-index: 3;
  
}


#backgroundYear{
    position: absolute;
    text-align:right;
    right:0%;
    top: 0%;
    font-size: 15em;
    font-family: neue-haas-unica, sans-serif;
    font-style: italic;
    font-weight: 900;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
    -moz-text-stroke-width: 2px;  
    -webkit-text-stroke-width: 2px;
}

body{
	background-color: #e5e4e1;
    width: 100vw;
    overflow:hidden;
 
}





form{
	position: absolute;
	overflow: hidden;
	left: 0;
    top: 0;
    right:0;
	z-index: 2;

	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
	font-weight: 300;
	background-color: #e5e4e1;
	
	border-right: 1px solid black;
    display: block;
    transition: 0.5s;

    font-size: 1 rem;
    width:100vw;
    height: 100vh;
    padding-left: 10%;
    padding-top: 5%;
   
}
  


.form-text1 {
    position: absolute;
    /* width:350px; */
    bottom:50vh;
    
}
.form-text2{
    /* width:350px; */
    position:absolute;
    bottom:40vh;
}
#rural {
    position: absolute;
    bottom:35vh;
    right:170px;
    /* cursor:pointer; */
}
.rural{
    position: absolute;
    bottom:34.5vh;
    right:130px;
    
}



#city {
    position: absolute;
    bottom:35vh;
   right:80px;
   /* cursor:pointer; */
}
.urban{
    
    position: absolute;
    bottom:34.5vh;
    right:35px;
}


#birthyear{
    position: absolute;
    bottom:46vh;
    right:35px;
    width: 100px;
}
.grid{
    position: absolute;
    border:1px solid blueviolet;
    left:0px;
    width: 35px;
    height:100vh;
    z-index: 7;
    display:none;
    /* background-color: greenyellow; */
}


.generate{
    /* cursor:pointer; */
    position:absolute;
    bottom: 15vh;
    right:35px;
    font-size: 2em;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 100;
    outline: none;
    border:none;
    background-color: transparent;
    transition: background 0.3s ease-in-out;

}
 .generate:hover{
    text-decoration: underline;
    background-color: #cccac6;
    cursor:pointer;

}

.form-back{
    position: absolute;;
    top:15%;
    width:100px;
    height:100px;
    border:1px solid black;
    border-right: hidden;
    border-top: hidden;
    background-color: transparent;
    color:transparent;
    background: linear-gradient(
        to bottom right,
        transparent 0%,
        transparent calc(50% - 1px),
        black 50%,
        transparent calc(50% + 1px),
        transparent 100%
    )
}
.form-back:hover{
    cursor:pointer;
    background: linear-gradient(
        to bottom right,
        #cccac6 0%,
        #cccac6 calc(50% - 1px),
        black 50%,
        #cccac6 calc(50% + 1px),
        #cccac6 100%

    )

}
.nextbabyface{
    position: absolute;
    top:90vh;
    right:30px;;
    cursor:pointer;
    font-size: 1.5rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 100;
    outline: none;
    border-style: none;
    background-color: transparent;
    transition: background 0.3s ease-in-out;
    z-index: 5;
    display:block;
}
.nextbabyface:hover{
    text-decoration: underline;
    background-color: #cccac6;
}
.realityGenerator{
    /* transform: rotate(-90deg); */
    position: fixed ;
    width:100vw;
    top: 0vh;
    text-align: center;
    z-index: 5;
    /* cursor:pointer; */
    font-size: 1.2rem;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 100 ;
    outline: none;
    border-style: none;
    background-color: transparent;
    display:none;
    /* cursor:pointer; */
    transition: 0.5s ease-in;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;

}



@-webkit-keyframes slide {
    100% { top: 3vh; }
}

@keyframes slide {
    100% { top: 3vh; }
}

.realityGenerator:hover{
    text-decoration: underline;
    background-color: #cccac6;
    transition: background 0.3s ease-in-out;
    
}










.baby1960{
    position: absolute; 
    overflow: hidden;
    top: 0%;
    width: 97vw;

    height: 100vh;
    display:none;
    border:1px solid plum;
    /* should be none */
    /* z-index: -1 */
}

.item1 {
    text-align: center;
    }

/* .item3 {grid-area: y3;
    text-align: center;} */
/* .item4 {
    text-align: center;} */
.siblings {
    text-align: center;
    /* outline: 1px solid #14683d;} */}
.main {
    position: absolute;
    text-align: left;
    /* outline: 1px solid #14683d; */
   
    
    top:55vh;
    left:40vw;
    right:10px;
    padding:10px;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-kerning: normal;
    font-weight: 300;
    font-size: 0.8rem;
}
.itemyear {
    position:absolute;
    text-align: center;
    font-family: neue-haas-unica, sans-serif;
    /* border: 1px solid red; */
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    
    font-kerning: normal;
    letter-spacing: 3px;
    color:black;
    top:8vh;
    right:25%;

}
.s1960{
    position:absolute;
    width:100vw;
    height: 100vh;
    border:1px solid olive; 
    top:0%;
    right:0%;
    display: none;
}

.ruralgraphics {
    position:absolute;
    /* border:1px solid black;  */
    /* border-radius: 20%; */
    height:100vh;
    width:100vw;
    top:0%;
    left: 0%;
    z-index: 4;
    overflow: hidden;
    transition: transform 0.2s;
    display:none;
}
    /* z-index: -10; */
   

.ruralgraphics img{
   transform:rotate(90deg);
    height:3vh;
    top:17vh;
    right:0vw;
 
    position:absolute;
    /* cursor: pointer; */
    
}


.ruralgraphics:hover {
    transform:scale(1.2);
    /* background-color:  #cccac6;  */
    /* border:1px solid olive;  */


} 
.photo{
    background-image:url(asset/70s/789597608.jpg);
    display:none;
    background-size: 100%;
    opacity: 0;
     background-repeat: no-repeat;
    width:15vw;
    position: relative;
    height:25%;
    top:20%;
    left:50%;
    
}
.ruralgraphics:hover +.photo{
    /* contain:'';
    background-image:url(asset/70s/farmland.jpg); */
    display:block;
    opacity: 1;
    


    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), 
                opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1);
                transform:translate3d(0.33333vh, -11.66667vh,0);
            -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
            animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

/* image animation */
@-webkit-keyframes flip-in-hor-bottom{
    0%{-webkit-transform: rotateX(80deg);
                transform: rotateX(80deg);
                opacity:0;
    }
    100%{-webkit-transform: rotateX(0);
                 transform: rotateX(0);
                 opacity:1;

    }
} 
 @keyframes flip-in-hor-bottom{
    0%{-webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity:0;
}
100%{-webkit-transform: rotateX(0);
         transform: rotateX(0);
         opacity:1;

}
}  

.famine{
    position: absolute;
    text-align: left;
    /* outline: 1px solid #14683d; */
    /* width:20%; */
    min-width: 200px;
    top:7%;
    left:45vw;
    right:10%;
    padding:0px;
    display:none;
    
   
}

.famine h1{
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-kerning: normal;
    font-weight: 200;
    font-size: 1.5rem;
}
.famine h2 {
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-kerning: normal;
    font-weight: 400;
    font-size: 1rem;
}
.famine h3{
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-kerning: normal;
    font-weight: 200;
    font-size: 0.9rem;
}
.babyface{
    position: absolute;
    top: 15%;
    left:-40vw;
    /* left:-20px; */
    height: 75vh;
    z-index: -1;
    filter:blur(2px);
    
}
.eye{
    
   /* position:absolute; */
   /* border:3px solid purple; */
    /* display: block; */
   
    border-radius: 50%;
    height: 15vh; 
   width: 15vh;
    
    /* background:white; */

    border: 2px solid black;
    filter:blur(2px);
    
}
#eye1{

	position: absolute;
	top:48vh;
    left: -10vw;
    filter:blur(2px);
}
#eye2{
	position: relative;
	top: 33vh;
    left: 35vw;
    filter:blur(2px);
}
.eyeball { /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    content: " ";
    filter:blur(2px);
  }






/* 1960s +8years */

.plus8years{
    position: absolute;
    display:none;
    border: 1px solid slateblue;
    height:100vh;
    width:100vw;
    top:0%;
    


}
.itemyearplus8{
    position:absolute;
    text-align: center;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    
    font-kerning: normal;
    letter-spacing: px;
    color:black;
    top:8vh;
    right:25%;
}
.bookcover{
    position: absolute;
    left:0%;
    top:47%;
  
    width:100vw;
    
 
}

.bookcovertext{
    position:absolute;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:1em;
    left:0vw;
    width:100vw;
    height:100vh;
}

.text1{
    position:absolute;
    right:5vw;
    width:55vw;
    top:50vw;

}
.text2{
    position:absolute;
    bottom: 10vw;
    right:5vw;
    width:55vw
    /* min-width: 290px; */
}





.basket {
    position:fixed;
    /* width: 0%;  */
    max-width: 10vw; 
    /* max-height: 300px; */
    top:0%;
    left:0%;
}





.s1990-identity{
    position: absolute; 
    top: 0%;
    left: 0%;
    min-width: 50vw;
    /* min-height: 230px; */
    width: 20vw;
    
    height: 20vw;
    border: 1px solid black;
    background-color: white;
    visibility: hidden;
    z-index: 1

}

.s1990-header-identity{
    position:absolute;
    width:99vw;
    height: 5%;
    background-image: repeating-linear-gradient( 0deg,transparent,
    transparent 3px,
    black 4px,
    black 3px);
    border: solid 1px transparent;
    border-bottom-color: black;
    

}
.identity90s{
    position: absolute;
    left:0px;
}




